 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">



            <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before applying</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">Does {{firstname}} get any other money? </h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Do you get any other money?</h1>
                 {% endif %}
            </header>
      
      <p>This could include money from:</p>
<ul class="list list-bullet">
        <li>a trust fund</li>
        <li>vouchers</li>
        <li>a charity or voluntary organisation</li>
      </ul>
      <form action="" method="get" class="form">
                 <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you get any other money?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="yes" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="no" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>



        
  <div class="form-item-wrapper">
    <div class="form-group">
      
        <a href="" class="button " id="next">Next</a>
      
    </div>
  </div>
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->

      </form>

    </div>

  </div>
    </div>
    </div>
</main>

{% endblock %}
