{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="grid row>">
  <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          <span class="heading-secondary">Apply for help to pay NHS costs</span>
          Research sprint 21
        </h1>



        <h2 class="heading-medium">Housing costs</h2>
        <p>Run through the service from the 'task-list' page</p>
        <p><a href="/apply/design-sprints/sprint21/check-list_where-you-live" class="button">Get started</a></p>
        <hr>
        <h2 class="heading-medium">What we're testing</h2>
        <ul class="list-bullet">
        <li>Testable hypothesis goes here</li>
        <li>Testable hypothesis goes here</li> 
        </ul>
 

      </div>
    </div>



</main>

{% endblock %}


