{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
       How much is left on the mortgage?
      </h1>

      <form action="" method="get" class="form">
        <div class="form-item-wrapper">
          {{
            form_macros.amount_field({
              id: 'money-amount'
            })
          }}
        </div>
        <div class="form-item-wrapper">
          {{
            form_macros.button({
              label: 'Save and continue',
              href: 'list'
            })
          }}
        </div>

      </form>
          <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>

  </div>

</div>

</main>

{% endblock %}
