{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.right{
      text-align: right;
}

.app-c-contents-list__list-item--numbered .app-c-contents-list__link {
 display:table
}
.app-c-contents-list__number,.app-c-contents-list__numbered-text {
 display:table-cell
}
.app-c-contents-list__number {
 min-width:1.5em
}
.app-c-contents-list__numbered-text {
 padding-left:0.3em
}
.direction-rtl .app-c-contents-list__numbered-text {
 padding-left:0;
 padding-right:0.3em
}
.app-c-contents-list {
 position:relative;
 margin-bottom:20px;
 z-index:1;
 background:#fff;
 box-shadow:0 20px 15px -10px #fff
}
.app-c-contents-list__link {
 text-decoration:none
}
.app-c-contents-list__link:hover,.app-c-contents-list__link:focus,.app-c-contents-list__link:active {
 text-decoration:underline
}
.app-c-contents-list__list-item--parent>.app-c-contents-list__link {
 font-weight:bold
}
.app-c-contents-list__list-item {
 padding-top:7.5px;
 line-height:1.3;
 list-style-type:none;
 font-size:90%;
}
.app-c-contents-list__list-item--dashed {
 margin-left:20px;
 padding-right:20px
}
.app-c-contents-list__list-item--dashed:before {
 content:"— ";
 margin-left:-20px
}
.column-third h2{
    color:#005EB8;
}
</style>

<main id="content" role="main">
<h1 class="heading-xlarge">
          <span class="heading-secondary">Page by page breakdown</span>
          Apply for help to pay NHS costs
        </h1>

<div class="grid-row">
<div class="column-third">
                <nav class="app-c-contents-list" role="navigation">
                    <h2 class="heading-medium" >Contents</h2>

                    <ol class="app-c-contents-list__list">

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#before">Before you start</a>
                            <ol class="app-c-contents-list__nested-list">
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#before-start-info">Information pages</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#before-start-R1">Release 1</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#eligibility">Eligibility</a>
                                </li>
                            </ol>
                        </li>

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#kickout">Kickouts</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#task-list">Task list</a>
                        </li>
                       <!--  <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#you">About you</a>
                        </li> -->
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#contact">Contact preferences</a>
                        </li>

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#who-lives-with-you">Who lives with you</a>
                            <ol class="app-c-contents-list__nested-list">
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#borders">Borders and Lodgers</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#non-deps">Non dependants</a>
                                </li>
                            </ol>
                        </li>


                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#where-you-live">Where you live</a>
                            <ol class="app-c-contents-list__nested-list">
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#mortgage">Mortgage</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#rent">Rent</a>
                                </li>
                            </ol>
                        </li>

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#income">Your income</a>
                            <ol class="app-c-contents-list__nested-list">
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#pensions">Your pensions</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#jobs">Your jobs</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#benefits">Your benefits</a>
                                </li>
                                <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                                    <a class="app-c-contents-list__link" href="#other-income">Your other income</a>
                                </li>
                            </ol>
                        </li>

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#savings">Saving, investment and property (capital)</a>
                        </li>

                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#check-answers">Check your answers</a>
                        </li>
                    </ol>
                </nav>
            </div>

    <div class="column-two-thirds">
        <h2 class="heading-medium" id="before">Before you start</h2>
         <table>
    <thead>
      <tr>
        <th id="before-start-info">Information pages</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/gov-uk/1-how-it-works">How it works</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/2-what-you-get">What you get</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/3-eligibility">Eligibility</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/4-apply">Apply</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/5-refund">Refund</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
        <tr>
        <td><a href="/apply/gov-uk/6-renew">Renew</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/7-claim-forms">HC1 forms</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/8-refund-forms">Refund forms</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/preapp_matched_exemption">Matching result</a></td>
        <td class="right"><a href="#">LISD-</a></td>
      </tr>

    </tbody>
  </table>
<br>
 <table>
    <thead>
      <tr>
        <th id="before-start-R1">Release 1- pension income only</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/start-page">Start</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-519</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/preapp_eligibility-info">Before you start info</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-613">LISD-613</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/whose-applying">Are you applying for yourself or someone else?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-493</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/registration-third-party">What is your name?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-520</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/dob">What is your date of birth?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-521</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/before-you-start/partner">Do you live with a partner?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-522">LISD-522</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/non-dependants">Does anyone else live with you who is 18 or older?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/before-you-start/job">Do you have a paid job?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-821">LISD-821</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/before-you-start/benefits-question">Do you claim any benefits or tax credits?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-823">LISD-823</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/saving-6k">Do you have more than £6,000 in savings, investments or property?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-525">LISD-525</a></td>
      </tr>
    </tbody>
  </table>

  <br>
 <table>
    <thead>
      <tr>
        <th id="eligibility">Eligibility</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/uc-getting-paid-step1">Do you get Universal Credit? </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-824">LISD-824</td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/uc-claim-type-v2">Does your Universal Credit include a payment for any of these?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-825">LISD-825</td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/uc-income-with-element-v3">Was your take-home pay for your last Universal Credit period {£935/£435} or less?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-826">LISD-826</td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/benefits-type-question">Do you get any of these benefits?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-829">LISD-829</td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/before-you-start/tax-credits-over20">What tax credits do you get?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-830">LISD-830</td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/tax-credits-income">Is your household income £15,276 or less?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-831">LISD-831</td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/before-you-start/benefits-esa">What type of ESA</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-834">LISD-834</td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/benefits-jsa">What type of JSA</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-831">LISD-</td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/benefits-pension">What type of pension credit</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-831">LISD-</td>
      </tr>
    </tbody>
  </table>


  <h2 class="heading-medium" id="kickout">Kickouts and results</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/kickouts/kickout_release1">Kickout</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-613">LISD-613</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/kickouts/kickout_release1_v2">Kickout iteration</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-822">LISD-822</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/kickouts/full-exemption-under-16">Under 16's result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-612">LISD-612</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-uc">Universal Credit result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-827">LISD-827</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-tc">Tax Credit Credit result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-832">LISD-832</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-benefits-income-support">Income support result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-832">LISD-833</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-benefits-esa">ESA result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-832">LISD-835</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-benefits-jsa">JSA result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-832">LISD-833</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-pencredits">Pension credit result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-832">LISD-833</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/before-you-start/full-exemption-benefits-income-support">Care home result page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-838">LISD-838</a></td>
      </tr>
          </tbody>
  </table>

  <h2 class="heading-medium" id="task-list">Task list</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/check-list_you">Task list</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-611">LISD-611</a></td>
      </tr>
          </tbody>
  </table>


  <h2 class="heading-medium" id="you">About you</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td><a href="/apply/devbaseline/you_post-address">What is your address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-535">LISD-535</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/you_check-answers">Check your answers page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-494">LISD-494</a></td>
      </tr>
    </tbody>
  </table>

   <h2 class="heading-medium" id="contact">Contact preferences</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/how-contact">How should we contact you if we need to?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-548">LISD-548</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/contact_how-contact-thirdparty">{thirdparty} How should we contact you if we need to?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-547">LISD-547</a></td>
      </tr>

        <td><a href="/apply/devbaseline/contact_who-contact">{thirdparty} Who should we contact if we need to?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-544">LISD-544</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/email-address">What is your email address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/mobile-number">What is your mobile telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/telephone-number">What is your telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-</a></td>
      </tr>
             <tr>
        <td><a href="/apply/devbaseline/you_post-address">What is your address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-535">LISD-535</a></td>
      </tr>
             <tr>
        <td><a href="/apply/devbaseline/you_post-address">It it your postal address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-836">LISD-836</a></td>
      </tr>
    </tbody>
  </table>

<h2 class="heading-medium" id="who-lives-with-you">About who lives with you</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/partner">Do you live with a partner?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-522">LISD-522</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/who-lives-with-you/live_children-under-20">Do you have any children living with you who you support financially?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-524">LISD-524</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/before-you-start/non-dependants">Does anyone else live with you who is 18 or older?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/who-lives-with-you/live_others-type">Who lives with you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
          </tbody>
  </table>

<h2 class="heading-small" id="borders">Borders and lodger</h2>
        <table>
      <tr>
        <td><a href="/apply/devbaseline/live_boarder">Are they a boarder or lodger?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_boarder-amount">How often does your boarder pay you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/live_boarder-includes">Are meals included in their rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
          </tbody>
  </table>

<h2 class="heading-small" id="non-deps">Non-dependants</h2>
        <table>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-student">Are they a full time student </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job">Do they have a job?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job16hrs">On average do they work for 16 hours or more per week?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job-amount">How often/ much do they get paid?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-benefits">Do they get any benefits?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-blind">Are they severely sight impaired or registered blind?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-</a></td>
      </tr>
      
                </tbody>
  </table>

<h2 class="heading-medium" id="where-you-live">About where you live</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/live_where">Where do you live?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-680">LISD-680</a></td>
      </tr>

                      </tbody>
  </table>

       <table>
        <h2 class="heading-small" id="rent">Rent</h2>
      <tr>
        <td><a href="/apply/devbaseline/live_housing-benefit">Does housing benefit cover your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-681">LISD-681</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_rent_rent-amount">How often do you pay your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-630">LISD-630</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/live_rent-deductions">Are meals or energy bills included in your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-682">LISD-682</a></td>
      </tr>
        <tr>
        <td><a href="/apply/devbaseline/live_rent_fuel">What energy bills are included in your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_rent_fuel-which">What is your {powertype} used for?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_rent_meals">Does your rent include any meals?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_rent_meals-which">Which meals are included in your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
          </tbody>
  </table>
  <table>
        <h2 class="heading-small" id="rent">Student Rent</h2>
       <tr>
        <td><a href="/apply/live/student/live_rent_student-temp">Are you a student living away from home?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
       <tr>
        <td><a href="/apply/live/student/live_rent_student-rent-frequency">How often do you pay your rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/live/student/live_rent_student-regular-rent">Do you pay the same amount of rent every {frequency}?</a></td> 
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-682">LISD-682</a></td>
      </tr>
            <tr>
        <td><a href="/apply/live/student/live_rent_student-regular-rent-amount">How much do you pay every {frequency}?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-630">LISD-630</a></td>
      </tr>
      <tr>
        <td><a href="/apply/live/student/live_rent_student-additions-frequency">Do you pay for your {meals} over the Christmas and Easter holidays?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-681">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/live/student/live_rent_student-summer-living-in-property">Are you currently living in the property?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>

      <tr>
        <td><a href="/apply/live/student/live_rent_student-term-time">What are your term dates?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
            <tr>
        <td><a href="/apply/live/student/live_rent_student_tenancy-dates">What is the start and end dates of your tenancy agreement?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
          </tbody>
  </table>
  <table>
        <h2 class="heading-small" id="mortgage">Mortgage</h2>
      <tr>
        <td><a href="/apply/devbaseline/live_mortgage_loan">Do you pay a mortgage for {address}?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-627">LISD-627</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_mortgage_mortgage-amount">How often do you pay your mortgage?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-628">LISD-628</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_services">Do you pay any service charges for {address}</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_council-tax">Do you pay council tax?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
       <tr>
        <td><a href="/apply/devbaseline/live_council-tax-amount">How much council tax do you pay a year?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_ground-rent">Do you pay ground rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_loan-adapted">Do you have a loan to adapt {address} for the needs of a disabled person?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
                            </tbody>
  </table>
  <table>
        <h2 class="heading-small" id="mortgage">Care home</h2>
      <tr>
        <td><a href="/apply/devbaseline/live_mortgage_loan">Do you get help from your local council to pay for your care home?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-839">LISD-839</a></td>
      </tr>
    
                            </tbody>
  </table>

  <h2 class="heading-medium" id="savings">Your savings, investments and other properties</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
          <tr>
        <td><a href="/apply/devbaseline/assets_thresholds">What is your combined total of savings and investments?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
     <tr>
        <td><a href="/apply/devbaseline/assets_accounts">Do you have any of these accounts or investments?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/assets_accounts-amount">How much do have in all of your bank, building society, savings accounts and ISAs?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/assets_property-other">Do you own any other property or land?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
    <tr>
        <td><a href="/apply/devbaseline/assets_property-address">What is the address of the property or land?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/assets_property-mortgage">Do you pay a mortgage on the property or land?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/assets_property-other-mortgagevalue">How much is left on the mortgage?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/assets_other-money">Do you have any other money?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
       </tbody>
  </table>


<h2 class="heading-medium" id="income">Your income</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
          <tr>
        <td><a href="/apply/devbaseline/income_type">What kind of income do you get?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-526">LISD-526</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/income_interstical">What you'll need- income</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-526">LISD-526</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/work_job">Do you have a job?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/work_full-time-education"> Are you in full time education? </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
          </tbody>
  </table>

  <h2 class="heading-small" id="pensions">Pensions</h2>
        <table>

    <tbody>
          <tr>
        <td><a href="/apply/devbaseline/work_pension">Do you get a pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_newpen-credit">Do you get Pension Credit Savings Credit?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_newcredit-amount">How often do you get your Pension Credit Savings Credit payments?  </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_statepension">Do you get a state pension?  </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_state-amount">How often do you get your State Pension paid?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_other-pension">Do you get another pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>         
   <tr>
        <td><a href="/apply/devbaseline/pension_otherpen-amount">How often do you get the payments for your {number of pension} pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
          </tbody>
  </table>
            </tbody>
  </table>

  <h2 class="heading-small" id="jobs">Jobs</h2>
 
  <h2 class="heading-small" id="benefits">Benefits</h2>
        <table>

    <tbody>
   <tr>
        <td><a href="/apply/devbaseline/work_benefits">Do you get any benefits?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>         
   <tr>
 </tbody>
  </table>

  <h2 class="heading-small" id="other-income">Other income</h2>
        <table>

    <tbody>
    <tr>
        <td><a href="/apply/devbaseline//work_benefit-carers-allowance">Do you look after someone but cannot get Carer’s Allowance because of another reason?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
         <tr>
        <td><a href="/apply/devbaseline/work_carers-allowance">Does someone get Carer’s Allowance for looking after you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
         <tr>
        <td><a href="/apply/devbaseline/work_other-money">Do you get any other money?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
                </tbody>
  </table>
<h2 class="heading-small" id="check-answers">Check your answers</h2>
        <table>

    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/work_check-answers">Check your answers</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
            <tr>
        <td><a href="/apply/devbaseline/work_check-answers">Declaration</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-837">LISD-837</a></td>
      </tr> 

                </tbody>
  </table>

        

      
  </div>
</div>



</main>

{% endblock %}


