{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<link href="/public/stylesheets/progress.css" media="screen" rel="stylesheet" type="text/css">
<style>
.phase-banner .phase-tag {
    padding: 1.2px 5px 2px 5px;
  }
  .spacelarge {
    margin-bottom: 40px;
}
</style>


<main id="content" role="main">
    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your 
      <a target="" href="#">feedback</a> 
      will help us to improve it.</span>
      </p>
    </div>



  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Reference number</span>
        K5G-V78
      </h1>
      </div>

       <h2 class="heading-medium">What happens next</h2>

      <p>Your application will be reviewed by the NHS. You can sign into this service at any time to see the status of your application.</p>
<br>
        <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="">answering some questions</a> about it.</p>
    </div>
  </div>

    </div>
  </div>

</main>

{% endblock %}
