 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<style>
.input--medium {
    width: 20em;
}
input {
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    background-color: #fff;
    border: 2px solid #6f777b;
    margin: 0;
    padding: 0.1em 0 0.1em 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.add-remove__list {
    margin: 0.52632em 0 0.52632em 0;
}
.add-remove__list {
  margin: em(10) 0 em(10) 0;
}

.add-remove__remove-btn {
  margin: 0 0 0 em(5);
}
</style>


<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
     <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
      { if thirdparty }
      <h1 class="heading-large">Tell us about {firstname}'s workplace and private pensions</h1>
      <br>
    { else }
      <h1 class="heading-large">Tell us about your workplace and private pensions  </h1>
    </div>
<br>
<p>If you have more than 1 pension you can add as many as you like.<p>





           




<div data-add-remove
     data-max="5"
     data-can-delete="true"
     data-add-btn-text="Add me"
     data-delete-btn-text="Delete me"
     data-template-item="data-template">
  <ul class="add-remove__list" data-add-remove-list>
    <li class="add-remove__item" data-add-remove-item data-template>
      <input name="example[]"
             type="text"
             class="form-input input--medium"
             data-add-remove-input />
    </li>
  </ul>
</div>

</div>
</div>

</main>

<script>
  function(event) {
  event.preventDefault()
  addListItem($container)
}

function(e) {

  // Discard the second event of a jQuery.event.trigger() and
  // when an event is called after a page has unloaded
  return typeof jQuery !== "undefined" &&
    (!e || jQuery.event.triggered !== e.type) ?
    jQuery.event.dispatch.apply(eventHandle.elem, arguments) :
    undefined;
}
</script>

<script src="/public/javascripts/modules.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
    <script src="public/assets/javascripts/vendor/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
      document.body.className = document.body.className.replace('no-js', 'js') + ' js-enabled';
    </script>
    <script src="public/assets/javascripts/vendor/kss/kss.js"></script>
    <script src="public/javascripts/application.js"></script>


{% endblock %}







