 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>

* {
  font-family: Arial;
}
h2 {
  padding: 0 0 5px 5px;
}
h2 a {
  color: #224f99;
}
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: #802727;
}
p {
  padding: 0 0 5px 0;
}
input {
  padding: 5px;
  border: 2px solid #999;
  -moz-border-radius: 4px;
  -web-kit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

</style>

<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="heading-group">
          <p>Apply for help with NHS costs</p>
          <h1 class="heading-large">Tell us about any workplace and private pensions you have</h1>
        </div>

        <div id="p_scents">
          <p><label for="p_scnts"><input id="p_scnt" name="p_scnt" placeholder="Input Value" size="20" type="text" value=""></label></p>
        </div>
        <button><a href="#" id="addScnt">Add</a></button>

      </div>
    </div>
  </main>



<script>

$(function() {
  var scntDiv = $('#p_scents');
  var i = $('#p_scents p').size() + 1;
  $('#addScnt').live('click', function() {
    $('<p><label for="p_scnts"><input type="text" id="p_scnt" size="20" name="p_scnt_' + i + '" value="" placeholder="Input Value" /></label> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
    i++;
    return false;
  });
  $('#remScnt').live('click', function() {
    if (i > 2) {
      $(this).parents('p').remove();
      i--;
    }
    return false;
  });
});

</script>


{% endblock %}