 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
    {% if thirdparty %}
      <h1 class="heading-large">
        What kind of income does {{firstname}} get?
      </h1>
    {% else %}
      <h1 class="heading-large">
        What kind of income do you get?
      </h1>
    {% endif %}
</div>

  <form action="incometype-handler" class="form" method="get">

  <p>Select all that apply</p>
      
      <form class="form" action="contact-handler" id="contact-boxes">
        <fieldset class="form-group">
          <legend class="visually-hidden">
            What kind of income do you get?
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">Wages</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="phone" name="phone" type="checkbox" value="true">
            <label for="phone">Benefits or Tax Credits</label>
          </div>

           <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Pensions (state, work, private)</label>
          </div>
                                       <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Student loans, grants or bursaries</label>
          </div>
 
                             <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Maintenance payments</label>
          </div>
                                                <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Rent from anyone living with you</label>
          </div>
                             <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Rent from other properties you own</label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Other money</label>
          </div>
                  <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">No income</label>
          </div>

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>

   <!--  <p class="navigation"><a class="cancel" href="../lis-check-list">Save and come back later</a></p> -->

    </div>
    </div>
</main>

{% endblock %}
