{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="grid row>">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Prototype</span>
          Apply for help to pay NHS costs
        </h1>
        
    <div class="grid-row">
      <div class="column-two-thirds">


        <h2 class="heading-medium">End to end service</h2>
        <p>Run through the service from the start</p>
        <p><a href="/apply/start" class="button">Get started</a></p>
        <hr>

        <h2 class="heading-medium">Page by page breakdown</h2>
        <p>Links to every page</p>
        <p><a href="all-pages" class="button">Continue</a></p>

      </div>
    </div>




</main>

{% endblock %}


