 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
     
      <h1 class="heading-large">We're currently building this service</h1>

    </div>
<!-- <p class="lede">We're currently building this service</p> -->
<p>At the moment you can only use this service if both of these apply:</p>

<ul class="list-bullet">
  <li>you claim state pension and it's your only income</li>
  <li>you live on your own</li>
</ul>



          <h2 class="heading-medium">You can't apply online yet</h2>
          <p>You need to apply using a paper form called an HC1.</p>
          <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">download an HC1</a> or get one from Jobcentres, GP practices, pharmacies and Citizens Advice centres.</p>

    </div>
    </div>
</main>

{% endblock %}







