 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
      {% if thirdparty %}
      <h1 class="heading-large">Does {{firstname}} have any children living with you, who {{firstname}} supports financially?</h1>
    {% else %}
      <h1 class="heading-large">Do you have any children living with you who you support financially?</h1>
    {% endif %}
    </div>

<p>They must be either:</p>
<ul class="list-bullet">
  <li>Under 16</li>
  <li>16 to 19 and in full time education or unpaid training. <br>
   <span class="strong">Lindsay note:</span> *No higher than A-level or equiv. like level 4 NVQs or a degree*</li>
</ul>
<br>
  <form action="children-handler" method="get" class="form">

       <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="children" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="children" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>
    </div>
    </div>
</main>

{% endblock %}







