 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
     <!--  { if thirdparty }
      <h1 class="heading-large">Does {{firstname}} pay any service charges for {address}?</h1>
      <br> -->
    { else }
      <h1 class="heading-large">What is your {powertype} used for?</h1>
    </div>

  <p>Select all things your {powertype} is used for</p>


      <form action="" method="get" class="form">

        <fieldset class="form-group">
          <legend class="visually-hidden">
            Do you pay any service charges for {address}
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="email" name="contact" value="email" type="checkbox">
            <label for="email">Heating</label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="phone" name="contact" value="phone" type="checkbox">
            <label for="phone">Lighting</label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="text" name="contact" value="text" type="checkbox">
            <label for="text">Cooking</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="text" name="contact" value="text" type="checkbox">
            <label for="text">Hot water</label>
          </div>
          <p class="form-block">or</p>
          <div class="multiple-choice multiple-radio">
            <input id="text" name="contact" value="text" type="checkbox">
            <label for="text">None of these things</label>
          </div>

        </fieldset>

              
          <div>

          </div>

        <div class="form-group">
          <input class="button" value="Next" type="submit">
        </div>
      </form>
              <!-- <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p> -->
          
    </div>
      
  </div>

</main>
{% endblock %}
