 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">



            <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Personal details</p>
                
                <h1 class="page-header--lede heading-large">Check your answers</h1>
               
            </header>

       
    <table id="review-table-one">


            <div class="panel panel-border-wide">
                <p>You’re applying for help with NHS costs on behalf of:</p>
            </div>
            <BR>
      <tr>
        <td>Full name</td>
        <td class="bold">{{firstname}}Robert Green</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Date of birth</td>
        <td class="bold">{{dobday}} {{dobmonth}} {{dobyear}} 02 April 1984</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="bold">1 Street, <br>Place, <br>County,<br> NE1234</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Contact by</td>
        <td id="has-mobile" class="bold">Email</td>
        <td><a href="">Change</a></td>
      </tr>
       <tr id="email-value">
        <td>Email address</td>
        <td class="bold">{{emailaddress}}Bob@me.com</td>
        <td><a href="">Change</a></td>
      </tr>
     
    </table>

<br><br>
        <p>
          <a class="button" href="../lis-check-list-2" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}