 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

        <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Submit your application</p>
            <h1 class="page-header--lede heading-large">Declaration</h1>
          </header>


<!--             <div class="panel panel-border-wide">
                <p>You've told us you’re Shiela Green.</p>
            </div> -->


            <p>I confirm that:</p>
            <ul class="list list-bullet">
                <li>all the information in this application is correct to the best of my knowledge.</li>
                <li>I understand that if it is not, I could be fined or taken to court.</li>
            </ul>
<br>
            <div class="form-group">
                <a href="done-carehome" role="button" class="button">Agree and submit my application</a>
            </div>

        </div>

    </div>

    </main>



{% endblock %}