{% extends "layout_bsa.html" %}
 <style>
ol.steps .instruction-list-item-extra-information {
  margin-left: 1.57895em;
}
</style>

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

    <div class="heading-group">
        <p>Apply for help to pay NHS costs</p>

      <h1 class="heading-xlarge">Your application</h1>

    </div>
<p>You can’t send the application until you've completed all the sections.</p>
<!--       <h1 class="heading-xlarge">
        Apply for help to pay NHS costs
      </h1> -->

      <ol class="task-list" >
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span>Check before you start
          </h2>
          <ul class="task-list-items">
<!--             <p class="instruction-list-item-extra-information">Before applying, check to see if you're already entitled to NHS costs
            </p> -->
            <li class="task-list-item" style="border-top: 1px solid #bfc1c3;">
              <a class="task-name" href="#" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
                  <!-- <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span>Tell us how to contact you
          </h2>
         
          <ul class="task-list-items"> -->
            <!-- <p class="instruction-list-item-extra-information">If we need to contact you
            </p> -->
              <!-- <li class="task-list-item" style="border-top: 1px solid #bfc1c3;">
              <a class="task-name" href="/apply/you/post-address">
                Your contact details
              </a> -->
              <!-- <strong class="task-completed" id="company-information-completed">Completed</strong> -->
<!--             </li> -->
              <!-- <strong class="task-completed" id="company-information-completed">Completed</strong> -->
            <!-- </li>
          </ul>
        </li>
        <li> -->
          <!-- <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Get supporting documents
          </h2>
         
          <ul class="task-list-items">
            <p class="instruction-list-item-extra-information">To work out your correct amount of help, it might be helpful to have information about your income and housing costs to hand before applying.
            </p>
            <li class="task-list-item" style="border-top: 1px solid #bfc1c3;">
              <a class="task-name" href="information-you-will-need">
                Information you will need
              </a>
              <strong class="task-completed" id="company-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li> -->
                  <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> About you
          </h2>
          <ul class="task-list-items">
          <p class="instruction-list-item-extra-information" >To work out your correct amount of help we need information about your housing costs and income.
            </p>
<!--             <li class="task-list-item">
              <a class="task-name" href="/apply/you/registration">
                Who is the application for
              </a>
              <strong class="task-completed" id="company-information-completed">Completed</strong>
            </li>  -->
            <li class="task-list-item">
              <a class="task-name" href="#">
                Personal details
              </a>
                <strong class="task-completed" id="company-information-completed">Completed</strong>
              </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Contact details
              </a>
                <strong class="task-completed" id="company-information-completed">Completed</strong>
              </li>
              <!-- <strong class="task-completed" id="company-information-completed">Completed</strong> -->
<!--             </li> -->
       <!--      <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="contact-details-completed">
                Where you live
              </a> -->
              <!-- <strong class="task-completed" id="contact-details-completed">Completed</strong> -->
          <!--   </li> -->
        <li class="task-list-item">
              <a class="task-name" href="#">
                Where you live
              </a>
              <strong class="task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <!-- <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="medical-information-completed">
                Savings, investments and second properties
              </a> -->
            <!--  <strong class="task-completed" id="medical-information-completed">Completed</strong>  -->
      <!--       </li> -->
            <li class="task-list-item">
              <a class="task-name" href="/apply/pension/pension_statepension" aria-describedby="where-you-live-completed">
                Your income and other money
              </a>
              <strong class="task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Submit application
          </h2>
<!--           <ul class="task-list-items">
          <li class="task-list-item">
              <a class="task-name" href="#">
                Read declaration and submit
              </a>
          </li> -->
          <!-- <li class="task-list-item">
              <a class="task-name" href="#">
                Submit
              </a>
          </li> -->
          <!-- </ul> -->
          <div style="padding-left: 35px; margin-top: 1em">
        <p>
          <a class="button" href="/apply/declaration" id="next">Send</a>
        </p>
          
      </div>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
