{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="grid row>">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Apply for help to pay NHS costs</span>
          User research
        </h1>
        
               <h2 class="heading-medium">Current sprint</h2>
       <table>
             <thead>
            <tr>
              <th width="25%">Sprint</th>
              <th>Description</th> stuff
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="../research/sprint24/">Sprint 24</a></td>
              <td>Pensioners with no benefits</td>
            </tr>
            </tbody>
  </table>
          <h2 class="heading-medium">Previous sprints</h2>
       <table>


            <tr>
              <td><a href="apply/design-sprints/research/sprint21/">Sprint 21</a></td>
              <td>Housing costs</td>
            </tr>

<!--               <tr>
              <td><a href="apply/design-sprints/research/sprint21/">Sprint #</a></td>
              <td>descripton of what we tested</td>
            </tr> -->

          </tbody>
        </table>

 

      </div>
    </div>




</main>

{% endblock %}


