 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                    <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What is {{firstname}}'s date of birth?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Which rate of Attendance Allowance do you get?</h1>
                 {% endif %}
            </header>


  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form action="attendance-allowance-handler" method="get" class="form">
        
        <div class="form-group">
          
          <fieldset>
            <legend class="visually-hidden">
              Which rate of Attendance Allowance do you get?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="carehome" value="yes">
              <label for="yes" style="white-space: pre-line; line-height: 1.3">High rate
              <span class="font-xsmall">£83.10</span> </label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="carehome" value="no">
              <label for="no" style="white-space: pre-line; line-height: 1.3">Low rate
              <span class="font-xsmall">£55.65</span></label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>


<!--     <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->

  </form>
    </div>
    </div>
</main>

{% endblock %}
