 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
            <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">Does {firstname} get another pension?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">What componant do you get?</h1>
             {% endif %}
            </header>

  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form>
  <div class="form-group">
    <fieldset>

          <div class="multiple-choice multiple-radio" data-target="contact-by-email">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Carers Allowance</label>
          </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
        <label class="form-label" for="contact-email">Email address</label>
        <input class="form-control" name="contact-email" type="text" id="contact-email">
      </div>

          <div class="multiple-choice multiple-radio" data-target="contact-by-phone">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">Carers Allowance</label>
          </div>

      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <label class="form-label" for="contact-phone">Phone number</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
      </div>

    </fieldset>
  </div>
          <p>
          <a class="button" href="benefits_benefits-amount" id="next">Next</a>
        </p>
<!--   <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p> -->
</form>
    </div>

    </div>

</main>

{% endblock %}
