 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                    <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What is {{firstname}}'s date of birth?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Which parts of Disability Living Allowance do you get?</h1>
                 {% endif %}
            </header>


  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form action="attendance-allowance-handler" method="get" class="form">
      
  <div class="form-group">
             
          <fieldset>
            <legend class="visually-hidden">
            Which parts of Disability Living Allowance do you get?
            </legend>

            <div class="multiple-choice multiple-radio" data-target="dailyliving">
              <input id="yes" type="checkbox" name="dla" value="Yes">
              <label for="yes">Care component</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="dailyliving" style="margin-bottom:2em">
<fieldset class="">
            <legend class="heading-small">
              What care rate do you get?
            </legend>

            <div class="multiple-choice">
              <input id="high" type="radio" name="dla-living" value="High">
              <label for="high">High</label>
            </div>
            <div class="multiple-choice">
              <input id="middle" type="radio" name="dla-living" value="Middle">
              <label for="middle">Middle</label>
            </div>
            

            <div class="multiple-choice">
              <input id="low" type="radio" name="dla-living" value="Low">
              <label for="low">Low</label>
            </div>
            
          </fieldset>
          </div>

            <div class="multiple-choice multiple-radio">
              <input id="no" type="checkbox" name="dla" value="No">
              <label for="no">Mobility component</label>
            </div>

 <div class="form-group" style="margin-top:1em">
                  <p>
          <a class="button" href="../pension/pension_statepension" id="next">Next</a>
        </p>
        </div>
<!--           <div class="form-group" style="margin-top:1em">
            <input class="button" type="submit"  value="Next">
          </div> -->


<!--     <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->

  </form>
    </div>
    </div>
</main>

{% endblock %}
