 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


                    <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What is {{firstname}}'s date of birth?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Which parts of Personal Independence Payment do you get?</h1>
                 {% endif %}
            </header>


  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form action="pip-handler" method="get" class="form">
      
  <div class="form-group">
             
          <fieldset>
            <legend class="visually-hidden">
            Which parts of Personal Independence Payment do you get?
            </legend>

            <div class="multiple-choice multiple-radio" data-target="dailyliving">
              <input id="yes" type="checkbox" name="pip" value="Yes">
              <label for="yes">Daily living part</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="dailyliving" style="margin-bottom:2em">
<fieldset class="inline">
            <legend class="heading-small">
              What daily living rate do you get?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="carehome" value="yes">
              <label for="yes">Enhanced rate</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="carehome" value="no">
              <label for="no">Standard rate</label>
            </div>
            
          </fieldset>
          </div>

            <div class="multiple-choice multiple-radio">
              <input id="no" type="checkbox" name="pip" value="No">
              <label for="no">Mobility part</label>
            </div>


        
<!--           <div class="form-group" style="margin-top: 1em">
            <input class="button" type="submit"  value="Next">
          </div> -->
</fieldset>
</div>



<!--     <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->

  </form>

  <p>
          <a class="button" href="../pension/pension_statepension" id="next">Next</a>
        </p>
    </div>
    </div>
</main>

{% endblock %}
