 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">


                                       <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your income and regular money</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">How much is {firstname}'s {Scottish Widows} pension {every month}?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">How often is your Widowed Parent’s Allowance paid?</h1>
             {% endif %}
            </header>


      <form action="" method="" class="form">
          <fieldset>
            <legend class="visually-hidden">
            How often is your Widowed Parent's Allowance paid?
            </legend>

            <div class="multiple-choice" data-target="week">
              <input id="yes" type="radio" name="wwpweeks" value="Yes">
              <label for="yes">Every week</label>
            </div>

          <div class="panel panel-border-narrow js-hidden" id="week" style="margin-bottom:1em">
            <label class="form-label-bold" for="nhsno">How much Widowed Parent's Allowance do you get every week?</label>
            <span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
          </div>
              
                          <div class="multiple-choice" data-target="4weeks">
              <input id="4week" type="radio" name="wwpweeks" value="4week">
              <label for="4week">Every 2 weeks</label>
            </div>

          <div class="panel panel-border-narrow js-hidden" id="4weeks" style="margin-bottom:1em">
            <label class="form-label-bold" for="nhsno">How much Widowed Parent's Allowance do you get every 2 weeks?</label>
            <span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
          </div>

            <div class="multiple-choice" data-target="yearly">
              <input id="no" type="radio" name="wwpweeks" value="No">
              <label for="no">Every 4 weeks</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="yearly" style="margin-bottom:2em">
            <label class="form-label-bold" for="nhsno">How much Widowed Parent's Allowance do you get every 4 weeks?</label>
            <span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
          </div>


           </fieldset>
<p>
          <a class="button" href="pension_other-pension-list" id="next">Next</a>
        </p>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>



{% endblock %}

