 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.31579;
}
.check-your-answers td {
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
    vertical-align: top;
}
.bold {
  font-weight: 700;
}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Apply with NHS costs</p>
            <h1 class="page-header--lede heading-large">Check your answers</h1>
          </header>

<!-- <p class="panel panel-border-wide">You’re applying for help with NHS costs on behalf of:</p> -->
<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium" style="margin-top: 0px">
            Your partner's income from benefits
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Getting benefits or tax credits
        </td>
        <td class="bold" style="font-weight:700">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Address</span>
          </a>
        </td>
      </tr>
<tr>
      <td>Contributions-related Employment and Support Allowance</td>
      <td style="width: 39%; font-weight:700">£146.20 <br>every 2 weeks</td>
       <td><a href="#">Change<span class="visuallyhidden">State Retirement pension amount or frequency of payments</span></a> <!-- or <a href="#">Remove<span class="visuallyhidden">State retirement pension from your pension income</span></a> -->
       </td>
    </tr>
    <tr>
      <td>Disability Living Allowance</td>
      <td style="width: 39%; font-weight:700">Care component <br>Middle rate</td>
       <td><a href="#">Change<span class="visuallyhidden">State Retirement pension amount or frequency of payments</span></a> <!-- or <a href="#">Remove<span class="visuallyhidden">State retirement pension from your pension income</span></a> -->
       </td>
    </tr>

    </tbody>
  </table>
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your partner's income from pensions
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          State Pension
        </td>
        <td class="bold" style="width: 39%; font-weight:700">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Private or workplace pensions
        </td>
        <td class="bold" style="font-weight:700">
         Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">email address</span>
          </a>
        </td>
      </tr>
      <tr>
      <td>NHS pension</td>
      <td style="font-weight:700">£70.80 every week</td>
       <td style=""><a href="#">Change<span class="visuallyhidden">Scottish Widows pension amount or frequency of payments</span></a>
       </td>
    </tr>
        
    </tbody>
  </table>
       
<br><br>
        <p>
          <a class="button" href="/apply/design-sprints/sprint21/check-list_declaration-new" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}