{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<link href="/public/stylesheets/progress.css" media="screen" rel="stylesheet" type="text/css">
<style>
.phase-banner .phase-tag {
    padding: 1.2px 5px 2px 5px;
  }
  .spacelarge {
    margin-bottom: 40px;
}
</style>


<main id="content" role="main">
    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your 
      <a target="" href="#">feedback</a> 
      will help us to improve it.</span>
      </p>
    </div>



  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Reference number</span>
        K5G-V78
      </h1>
      </div>

<p class="lede">  Because your local council helps to pay for your care home, you're entitled to help with your NHS costs.</p>

       <h2 class="heading-large">What happens next</h2>
        <p>You will recieve a paper certificate in the post that entitles you to full help with NHS costs. This is called an HC2 certificate. </p>

      <p>It can take up to 19 working days to review and process your application.</p>


<h2 class="heading-medium" >You get free:</h2>


  <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
  </ul>
<h2 class="heading-medium">You get money off:</h2>
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing your glasses or contact lenses
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       travel for NHS treatment
    </li>
  </ul>
<br>
        <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="">answering some questions</a> about it.</p>
    </div>
  </div>

    </div>
  </div>

</main>

{% endblock %}
