{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


    <header class="page-header">
      <h1 class="page-header--lede heading-xlarge">You get help with NHS costs but can't apply online</h1>
      <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
    </header>



 <p class="lede">
          Because your local council helps to pay for your care home, you're entitled to help but need to apply using a paper form.
        </p>

 <h2 class="heading-large">Next steps</h2>
 <!-- 
<h2 class="heading-large" style="margin-top:0px">This service is being developed</h2> -->
          <p>You need to apply using a paper form called an 'HC1 SC'.</p>

          <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">download an HC1 SC</a> or get one from Jobcentres, GP practices, pharmacies and Citizens Advice centres.</p>
<!--   <p>You need to fill in an application form and post it to:</p>

<address>
NHS Low Income Scheme<br>
NHS Business Services Authority<br>
Bridge House<br>
152 Pilgrim Street<br>
Newcastle upon Tyne<br>
NE1 6SN 
</address>

            <ul class="list options-list">        
            <li><a class="icon download-icon" href="../public/images/bsa/HC1SC.pdf" target="_blank">Download and print this form (PDF 50k)</a></li>
      </ul> 
            </p> -->
<!-- under 20 -->
<!--          <p class="lede">
          Because your parent or guardian gets Child Tax Credit for you and has a household income of £15,276 or less:
        </p> -->

              </div>
      </div>

    <h2 class="heading-large">What you'll get</h2>
<h2 class="heading-medium" >You get free:</h2>


  <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
  </ul>
<h2 class="heading-medium">You get money off:</h2>
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing your glasses or contact lenses
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       travel for NHS treatment
    </li>
  </ul>
 


  </div>
  </div>

</main>


{% endblock %}
