 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

                <header class="page-header">
                <p class="page-header--sub heading-secondary">Apply for help to pay NHS costs</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">You can't apply online for {{firstname}} yet</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">You can't apply online yet</h1>
                 {% endif %}
            </header>


<h2 class="heading-medium" style="margin-top: 0px">This service is still being developed</h2>
<p>Because you are under 60, you can't apply online yet.<br> Instead, you can apply using a paper form called an HC1.</p>

          <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">download an HC1</a> or get one from Jobcentres, GP practices, pharmacies and Citizens Advice centres.</p>
<!-- <ul class="options-list" style="margin-top: 0.5em">
        <li><a class="icon download-icon" href="">Download an HC1 application form</a></li>
      </ul> -->



    </div>
</main>

{% endblock %}







