 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
Does your partner get any of these benefits?  </h1>
  <p>Select all the benefits they get.</p>

  <form action="sprint3-benefit-handler" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="checkbox" id="af" value="af" name="sprint3benefits">
        <label class="form-control-checkbox" for="af">
          Armed Forces Independence Payment
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="aa" value="aa" name="sprint3benefits">
        <label class="form-control-checkbox" for="aa">
          Attendance Allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="ca" value="ca" name="sprint3benefits">
        <label class="form-control-checkbox" for="ca">
          Carers Allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="ctc" value="ctc" name="sprint3benefits">
        <label class="form-control-checkbox" for="ctc">
         Child Tax Credits
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="dla" value="dla" name="sprint3benefits">
        <label class="form-control-checkbox" for="dla">
          Disability Living Allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="iid" value="iid" name="sprint3benefits">
        <label class="form-control-checkbox" for="iid">
          Industrial Injuries Disablement Benefit
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="mp" value="mp" name="sprint3benefits">
        <label class="form-control-checkbox" for="mp">
         Maintenance Payments
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="pip" value="pip" name="sprint3benefits">
        <label class="form-control-checkbox" for="pip">
         Personal Independence Payment
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="checkbox" id="none" value="none" name="sprint3benefits">
        <label class="form-control-checkbox" for="none">
          They <span class ="bold">do not</span> get any of these
        </label>
      </div>
    </div>
    {{
      form_macros.button({
        label: 'Save and continue'
      })
    }}

    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
