 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
      { if thirdparty }
      <h1 class="heading-large">Does anyone else live with {firstname} at {address}?</h1>
      <br>
    { else }
      <h1 class="heading-large">Does anyone else who is 18 or older live with you {and your partner} at {address-lineone}?</h1>

    </div>



  <form action="non-dephandler" method="get" class="form">

       <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Does anyone else live with you at {{data['address-lineone']}}?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="nonDep" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="nonDep" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>
    </div>
    </div>
</main>

{% endblock %}







