 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
      {% if thirdparty %}
      <h1 class="heading-large">Does {{firstname}} have any children living with you, who {{firstname}} supports financially?</h1>
    {% else %}
      <h1 class="heading-large">Do you have any children living with you, who you support financially?</h1>
    {% endif %}
    </div>

  <h1 class="heading-large">
    Do {{partnerortext}} pay a mortgage or loan on your home?
  </h1>
  <form action="mortgaged2-handler" method="get" class="form">

    <div class="form-item-wrapper">
      <fieldset>
        <div class="inline-form-groups">
          <div class="form-group">
            <input type="radio" id="yes" value="yes" name="mortgaged">
            <label class="form-control-radio" for="yes" data-show="#contact-email-address">
              Yes
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="no" value="no" name="mortgaged">
            <label class="form-control-radio" for="no" data-hide="#contact-email-address">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

<!-- 
    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p> -->

  </form>
    </div>
    </div>
</main>

{% endblock %}
