 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">

<header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">How often does {{firstname}} pay their mortgage?</h1>How often do you pay your mortgage?Do you pay a mortgage on your home?</h1>
                 {% endif %}
            </header>
<br>


      <form action="" method="" class="form">
          <fieldset>
            <legend class="visually-hidden">
How often do you pay your mortgage?</legend>

            <div class="multiple-choice">
              <input class="choose" id="everyweek" type="radio" name="optionsRadios" value="Every week">
              <label for="everyweek">Every week</label>
            </div>
                        <div class="multiple-choice">
              <input class="choose" id="every2week" type="radio" name="optionsRadios" value="Every 2 weeks">
              <label for="every2week">Every 2 weeks</label>
            </div>

            <div class="multiple-choice">
              <input class="choose" id="every4week" type="radio" name="optionsRadios" value="Every 4 weeks">
              <label for="every4week">Every 4 weeks</label>
            </div>
                        <div class="multiple-choice">
              <input class="choose" id="everymonth" type="radio" name="optionsRadios" value="Every month">
              <label for="everymonth">Every calendar month</label>
            </div>
            <div class="multiple-choice">
              <input class="choose" id="everyyear" type="radio" name="optionsRadios" value="Every year">
              <label for="everyyear">Once a year</label>
            </div>
  
          </fieldset>  


<br>
          <h2 class="heading-large" for="pay" id="cont">
  How much do you pay?
</h2><br>
<!-- <p>Include any endowment premiums linked to the mortgage.</p> -->

<p>Don't include:</p>
<ul class="list-bullet">
  <li>arrears</li>
  <li>voluntarily overpayments</li>
  <li>insurance premiums</li>
</ul>


<span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
<br><br><br>
<p>
          <a class="button" href="loan-question" id="next">Next</a>
        </p>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('input[name="optionsRadios"]').on('change', function(){
    if ($(this).val()=='Every week') {
         //change to "show update"
         $("#cont").text("How much do you pay every week?");
    } else if ($(this).val()=='Every 2 weeks') {
         $("#cont").text("How much do you pay every 2 weeks?");
    } else if ($(this).val()=='Every 4 weeks') {
         $("#cont").text("How much do you pay every 4 weeks?");
    }
     else if ($(this).val()=='Every month') {
         $("#cont").text("How much do you pay every month?");
    }
    else {
         $("#cont").text("How much do you pay every year?");
    }
});
</script>

{% endblock %}

