 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    How much do you pay?
  </h1>

    <p>
      Do include any endowment premiums linked to the mortgage.
    </p>

    <p>
      Do not include premiums for any other type of insurance, money you owe that should have been paid earlier, or any amount of mortgage that you are voluntarily overpaying.
    </p>

  <form action="" method="get" class="form">

    <div class="form-item-wrapper">
    {{
      form_macros.amount_field({
        id: 'money-name'
      })
    }}

    </div>

    {{
      form_macros.button({
        href: '../services',
        label: 'Save and continue'
      })
    }}
    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}
