 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">


               <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">How often does {{firstname}} pay their mortgage?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">How much is your monthly mortgage payment?</h1>
             {% endif %}
            </header>


      <form action="" method="" class="form">
          <fieldset>
            <legend class="visually-hidden">
How often do you pay your mortgage {every month}?</legend>



<p class="form-hint">The amount must include pence. For example, £171.31</p>

<span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
<br><br>
 <details>
            <summary><span class="summary">I don't know what to include</span></summary>
            <div class="panel panel-border-narrow">
            <h2 class="heading-small">
            Include:</h2>
            <ul class="list-bullet">
  <li>endowment premiums linked to the mortgage</li>
  </ul>

            <h2 class="heading-small">
            Do not include:</h2>

<ul class="list-bullet">
  <li>arrears</li>
  <li>voluntary overpayments</li>
  <li>insurance premiums</li>
</ul>
              </p>
            </div>
          </details>
<br><br>
<p>
          <a class="button" href="loan-question" id="next">Next</a>
        </p>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('input[name="optionsRadios"]').on('change', function(){
    if ($(this).val()=='Every week') {
         //change to "show update"
         $("#cont").text("How much do you pay every week?");
    } else if ($(this).val()=='Every 2 weeks') {
         $("#cont").text("How much do you pay every 2 weeks?");
    } else if ($(this).val()=='Every 4 weeks') {
         $("#cont").text("How much do you pay every 4 weeks?");
    }
     else if ($(this).val()=='Every month') {
         $("#cont").text("How much do you pay every month?");
    }
    else {
         $("#cont").text("How much do you pay every year?");
    }
});
</script>

{% endblock %}

