 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    How often do you pay your mortgage or loan?
  </h1>

  <form action="" method="get" class="form">

    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="week" name="minor">
        <label class="form-control-radio" for="week">
          Every week
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="fortnight" name="minor">
        <label class="form-control-radio" for="fortnight">
          Every 2 weeks
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="fourweekly" name="minor">
        <label class="form-control-radio" for="fourweekly">
          Every 4 weeks
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="month" name="minor">
        <label class="form-control-radio" for="month">
         Every calendar month
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="year" name="minor">
        <label class="form-control-radio" for="year">
          Once a year
        </label>
      </div>

    </div>
<!-- 
    {{
      form_macros.button({
        href: 'mortgage-amount',
        label: 'Save and continue'
      })
    }} -->
    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}
