 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    {{partnerlivetext}}
  </h1>

  <form action="people-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" value="yes" name="people">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" value="no" name="people">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{
      form_macros.button({
        label: 'Save and continue'
      })
    }}

    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
