 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.31579;
}
.check-your-answers td {
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
    vertical-align: top;
}
.bold {
  font-weight: 700;
}
.contactTable td{
  border-bottom: 1px solid #bfc1c3;
}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Apply with NHS costs</p>
            <h1 class="page-header--lede heading-large">Check your answers</h1>
          </header>

<!-- <p class="panel panel-border-wide">You’re applying for help with NHS costs on behalf of:</p> --><h2 class="heading-medium" style="margin-top:0">Your income and regular money</h2>
<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h3 class="heading-small">State Pension</h3>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="width: 50%">
          Do you get a State Pension?
        </td>
        <td class="bold" style="width: 34%">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          State Pension frequency
        </td>
        <td class="bold">
          Paid every 4 weeks
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Postal address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          State Pension amount
        </td>
        <td>
          £122.30
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">prefered contact method</span>
          </a>
        </td>
      </tr>
      <tr>
       </tbody>
</table>
<br>
  <h3 class="heading-small">Private or workplace pensions</h3>
<table class="check-your-answers">
    <tbody>
      <tr>
        <td style="width: 50%">
          Do you get another pension?
        </td>
        <td class="bold" style="width: 34%">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Pension name
        </td>
        <td class="bold">
          NHS
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Postal address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Pension frequency
        </td>
        <td class="bold">
          Paid monthly
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Postal address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Pension amount
        </td>
        <td>
          £65.10
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">prefered contact method</span>
          </a>
        </td>
      </tr>
      <tr>
       </tbody>
</table>
       

<br><br>
        <p>
          <a class="button" href="../design-sprints/sprint21/check-list_where-you-live" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}