{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
  <h1 class="heading-large">
    Do you get the care component of Disability Living Allowance?
  </h1>

  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form action="" method="get" class="form">
<div class="form-item-wrapper">
      <fieldset>
        <div class="inline-form-groups">
          <div class="form-group">
            <input type="radio" id="email" name="contact">
            <label class="form-control-radio js-toggle" for="email" data-show="#contact-email-address" data-hide="#contact-mobile-number">
              Yes
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="mobile" name="contact">
            <label class="form-control-radio js-toggle" for="mobile" data-hide="#contact-email-address">
              No
            </label>
          </div>
        </div>

        <div class="js-hidden panel-indent" id="contact-email-address">
          <label class="form-label-bold" for="email-address">
            Which weekly rate do you get?
          </label>
          <br>
          <div class="form-group">
            <input type="radio" id="low" name="contact">
            <label class="form-control-radio js-toggle" for="low" data-show="#contact-email-address" data-hide="#contact-mobile-number">
              Lowest (£21.80)
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="middle" name="contact">
            <label class="form-control-radio js-toggle" for="middle" data-show="#contact-email-address" data-hide="#contact-mobile-number">
              Middle (£55.10)
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="high" name="contact">
            <label class="form-control-radio js-toggle" for="high" data-show="#contact-email-address" data-hide="#contact-mobile-number">
              Highest (£82.30)
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    {{
      form_macros.button({
        label: 'Save and continue',
        href: 'mobility-component'
      })
    }}

    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
