
{% extends "layout_internal.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

    <style>
    .right{
         text-align: right;
    }

    .app-c-contents-list__list-item--numbered .app-c-contents-list__link {
    display:table
    }
    .app-c-contents-list__number,.app-c-contents-list__numbered-text {
    display:table-cell
    }
    .app-c-contents-list__number {
    min-width:1.5em
    }
    .app-c-contents-list__numbered-text {
    padding-left:0.3em
    }
    .direction-rtl .app-c-contents-list__numbered-text {
    padding-left:0;
    padding-right:0.3em
    }
    .app-c-contents-list {
    position:relative;
    margin-bottom:20px;
    z-index:1;
    background:#fff;
    box-shadow:0 20px 15px -10px #fff
    }
    .app-c-contents-list__link {
    text-decoration:none
    }
    .app-c-contents-list__link:hover,.app-c-contents-list__link:focus,.app-c-contents-list__link:active {
    text-decoration:underline
    }
    .app-c-contents-list__list-item--parent>.app-c-contents-list__link {
    font-weight:bold
    }
    .app-c-contents-list__list-item {
    padding-top:7.5px;
    line-height:1.3;
    list-style-type:none;
    font-size:90%;
    }
    .app-c-contents-list__list-item--dashed {
    margin-left:20px;
    padding-right:20px
    }
    .app-c-contents-list__list-item--dashed:before {
    content:"— ";
    margin-left:-20px
    }
    .heading-medium{
       margin-top: 0em;
    }
    .heading-small{
       margin-top: 0em;
    }
    .panel.callout.blue {
       background-color: #2b8cc4;
    }
    .panel.callout {
       padding: 30px 15px;
       margin-bottom: 2em;
       color: #ffffff;
       border-left-style: none;
    }

    .button-blue {
       background-color: #0072C6;
       position: relative;
       display: -moz-inline-stack;
       display: inline-block;
       padding: .3em .789473em .263157em;
       padding-bottom: 0.263157em;
       border: none;
       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
       outline: 1px solid transparent;
       outline-offset: -1px;
       box-shadow: 0 2px 0 #003618;
       font-size: 1.2em;
       line-height: 1.8em;
       text-decoration: none;
       cursor: pointer;
       color: #fff;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       vertical-align: top;
       transition: background-color 300ms ease-out;
    }

    .button-blue:hover {
       background-color: #2b8cc4;
       transition: background-color 300ms ease-out;
    }
    </style>


    <main id="content" role="main">
                <div class="heading-group">
            <p>Staff guides</p>
            <h1 class="heading-large">Evidence checks</h1>
        </div>
        <p class="lede">What to do when an application is marked for an evidence check.</p>
        <!--        <p class="lede">How to process an application, deal with evidence checks, part payments, appeals, and fraud.</p> -->
        <hr>
        <div class="grid-row">
            <div class="column-third">
                <nav class="app-c-contents-list" role="navigation">
                    <h2 class="heading-small">Contents</h2>
                    <ol class="app-c-contents-list__list">
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#intro">Introduction</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#before-start">Before you start</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#before-start">Problems with the evidence</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#contact">What to do</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#contact">How to calculate total monthly income</a>
                        </li>
                         <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#contact">What not to include as income</a>
                        </li>
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#contact">Sources of evidence</a>
                        </li>
                    </ol>

                    <br>
                    <p><a class="button-blue" href="#more-guides" style="color:white; font-weight: 600">More guides &nbsp; &nbsp; ⬇</a></p>
                </nav>
            </div>

            <div class="column-two-thirds">
                <h3 class="heading-medium" id="intro">Introduction</h3>
                <p>You only need to check paper evidence when an application is marked for an evidence check. The statement of truth signed by the applicant is legally binding.</p>
                        <p>See more about <a href='#'>what to do if you suspect fraud</a></p>
                        <p>Evidence checks are a way for HMCTS to make sure that applicants are providing accurate information about their income.</p>
                        <p>If an application is marked for an evidence check, write to the applicant and ask them to send evidence of their income. You’ll be provided with a letter to use.</p>
                        <br>

                        <h3 class="heading-medium" id="before-start">Before you start</h3>
                        <h5>When you receive the evidence:</h5>
                        <ul class="list-bullet">
                            <li>check the name on the evidence matches the name on the application</li>
                            <li>check the evidence is dated within 3 months of receiving the application</li>
                            <li>for refunds the evidence must cover the date the fee was paid (can be up to 3 months before the fee was paid)</li>
                        </ul><br>
                        <br>

                <h3 class="heading-medium" id="Problems with the evidence">Problems with the evidence</h3>
                        <p>You may not be able to process the evidence provided by an applicant. Common problems are:</p>
                        <ol class="list-bullet">
                            <li>the name on the evidence doesn't match the name of the applicant</li>
                            <li>the evidence is out of date</li>
                            <li>the applicant has not provided all evidence required</li>
                        </ol>
                        <br>
                        <p>In all of these cases, you should return the evidence to the applicant and tell them why it can't be accepted. If they still require help with fees they'll need to apply again.</p>
                        <p>If a couple is receiving a shared benefit but the benefits letter doesn't state the applicant’s name the applicant must provide additional evidence to show they live at the same address as their partner.</p>
                        <p>A letter will be generated for you to send to the applicant along with the evidence.</p><br>

                        <div class="panel panel-border-narrow">
                            <h3 class="heading-medium" id="what-to-do">What to do</h3>
                            <h5 class="heading-small">To process evidence:</h5>
                            <ul class="list-bullet">
                                <li>select the application from the list ‘Awaiting evidence’</li>
                                <li>select 'Process evidence'</li>
                                <li>calculate the applicant's total monthly income from the evidence received (not the application form)</li>
                                <li>enter the total in the field on the screen</li>
                                <li>get the result and follow the next steps to process the application</li>
                                <li>store the evidence securely, separate from the case file</li>
                            </ul><br>
                            <h5 class="heading-small">Returning evidence</h5>
                            <p>You should not return evidence to the applicant unless they ask for it and provide payment for postage costs.</p>
                            <h5>When no evidence is received after 14 calendar days:</h5>
                            <ul class="list-bullet">
                                <li>select the application from the list ‘Awaiting evidence'</li>
                                <li>select 'write letter to the applicant' and a letter will be generated for you</li>
                                <li>post the letter and all the documents back to the applicant</li>
                            </ul>
                        </div>

                        <br>
                        <br>
                        <h3 class="heading-medium" id="calculate">How to calculate total monthly income</h3>
                        <h5 lass="heading-small">You need to:</h5>
                        <ul class="list-bullet">
                            <li>add up all the income from payslips and evidence<br>
                            (before tax and National Insurance)</li>
                            <li>include their partner’s income (if they have one)</li>
                            <li>subtract any <a href="#">excluded benefits</a>
                            </li>
                            <li>check the total against the bank statements</li>
                        </ul><br>
                        <br>

                        <h3 class="heading-medium" id="not-include">What not to include as income</h3>
                        <ul>
                            <li>
                                <a href="guide-processing.html#benefits" target="_blank">6 benefits</a>
                            </li>
                            <li style="list-style: none">qualify for benefits-based applications</li>
                            <li>
                                <a href="/guide-processing.html#excluded-income" target="_blank">excluded benefits</a>
                            </li>
                            <li style="list-style: none">as Carer’s Allowance, Housing Benefit, or childcare element of Working Tax Credit.</li>
                        </ul><br>
                        <br>

                        <h3 class="heading-medium" id="sources">Sources of evidence</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Bank statements</p>
                                    </td>
                                    <td>
                                        <p>The applicant will be asked to provide the most recent month’s bank statement for any and all current accounts. Check the money coming in matches the amounts shown on the supporting evidence.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Wages</p>
                                    </td>
                                    <td>
                                        <p>Employed: Applicants should provide their most recent payslip which should be no more than 6 weeks old.</p>
                                        <p>Self employed: Applicants should provide their most recent tax return (Self Assessment) and HMRC Self Assessment Tax Calculation.</p>
                                        <p>If a self-employed applicant doesn’t have either of these documents, they will need to provide bank statements that show income for the previous tax year.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Child Benefit</p>
                                        <p>Working Tax Credit</p>
                                        <p>Child Tax Credit</p>
                                    </td>
                                    <td>
                                        <p>A letter from HM Revenue and Customs (HMRC) dated in the last 3 months confirming that the applicant is receiving Child Benefit, Working Tax Credit or Child Tax Credit.</p>
                                        <p>In some cases an applicant may not have a Child Benefit Award Notice dated within the last three months. If this is the case, check their bank statements for evidence of money coming in.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Child maintenance payments</p>
                                    </td>
                                    <td>
                                        <p>Document(s) showing the payment amounts and how often they are made. This can be one of the following:</p>
                                        <ul>
                                            <li>sealed court order</li>
                                            <li>Child Support Agency Assessment</li>
                                            <li>signed voluntary agreement or letter of agreement signed by both parties</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Contribution-based Jobseeker’s Allowance (JSA)</p>
                                        <p>Contribution-based Employment and Support Allowance (ESA)</p>
                                        <p>Universal Credit</p>
                                    </td>
                                    <td>
                                        <p>A letter from the Department for Work and Pensions (DWP) dated in the last 3 months confirming how much is being received and how often.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Any other benefits</p>
                                    </td>
                                    <td>
                                        <p>A letter dated in the last 3 months confirming how much is being received and how often.</p>
                                        <p>Note that the <a href="0_mainguide.html#benefits">6 eligible benefits</a> and the <a href="0_mainguide.html#excluded-income">excluded benefits</a> shouldn’t be included as income.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Pensions</p>
                                    </td>
                                    <td>
                                        <p>A letter or statement showing pension payments.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Rent from people living with the applicant</p>
                                    </td>
                                    <td>
                                        <p>A letter dated within the last month from the person paying money to confirm the arrangement and amount paid.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Rent from any properties owned</p>
                                    </td>
                                    <td>
                                        <p>Tenancy agreement or lease relating to each property showing the rents currently being paid and how often.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Stocks, shares, bonds, savings and/or any other financial arrangements</p>
                                    </td>
                                    <td>
                                        <p>Current statements or certificates showing the arrangement and how much income is obtained. Only the interest paid out on stocks, bonds, shares, savings etc can be considered as income.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Income received by any other means such as selling goods publicly or privately, including sales over the internet</p>
                                    </td>
                                    <td>
                                        <p>Official documentary evidence showing the amount of income received, by what method and how often. Note that money received from the sale of capital assets (e.g. family heirlooms), would normally be classified as ‘savings and investments’ rather than income.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Prisoner’s income</p>
                                    </td>
                                    <td>
                                        <p>Prisoners should provide a Prisoner Income and Expenditure Statement (PIES). This shows the amount of their earnings, spending, private cash and savings.</p>
                                        <p>If the prisoner is in a private prison the format of their financial statement may be slightly different. You need to check details of earnings and private cash.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br>

                        <h3 class="heading-medium" id="non-english">Evidence in languages other than English</h3>
                        <p>Evidence must be supplied in English. However, courts and tribunals in Wales can also accept evidence in Welsh.</p>
                        <p>If the original evidence is in another language, then it must be provided along with a certified translation.</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="panel callout blue">
                <h4 class="heading-medium" id="more-guides">More guides</h4>
</div>
                <div class="column-one-fifth">
                    <h5><a href="guide-processing.html" style="text-decoration:none;">Process application</a></h5><img src="/public/images/bsa/icon-process.png">
                </div>

                <div class="column-one-fifth">
                    <h5><a href="guide-evidence.html" style="text-decoration:none;">Evidence checks</a></h5><img src="/public/images/bsa/icon-evidence.png">
                </div>

                <div class="column-one-fifth">
                    <h5><a href="guide-part-payments.html" style="text-decoration:none;">Part payments</a></h5><img src="/public/images/bsa/icon-part-fee.png">
                </div>

                <div class="column-one-fifth">
                    <h5><a href="guide-appeals.html" style="text-decoration:none;">Appeals</a></h5><img src="/public/images/bsa/icon-appeals.png">
                </div>

                <div class="column-one-fifth">
                    <h5><a href="guide-fraud.html" style="text-decoration:none;">Suspected fraud</a></h5><img src="/public/images/bsa/icon-fraud.png"> 
                </div>

            </div>
        </div>

    </main>

    {% endblock %}
