
{% extends "layout_internal.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

    <style>
    .right{
         text-align: right;
    }

    .app-c-contents-list__list-item--numbered .app-c-contents-list__link {
    display:table
    }
    .app-c-contents-list__number,.app-c-contents-list__numbered-text {
    display:table-cell
    }
    .app-c-contents-list__number {
    min-width:1.5em
    }
    .app-c-contents-list__numbered-text {
    padding-left:0.3em
    }
    .direction-rtl .app-c-contents-list__numbered-text {
    padding-left:0;
    padding-right:0.3em
    }
    .app-c-contents-list {
    position:relative;
    margin-bottom:20px;
    z-index:1;
    background:#fff;
    box-shadow:0 20px 15px -10px #fff
    }
    .app-c-contents-list__link {
    text-decoration:none
    }
    .app-c-contents-list__link:hover,.app-c-contents-list__link:focus,.app-c-contents-list__link:active {
    text-decoration:underline
    }
    .app-c-contents-list__list-item--parent>.app-c-contents-list__link {
    font-weight:bold
    }
    .app-c-contents-list__list-item {
    padding-top:7.5px;
    line-height:1.3;
    list-style-type:none;
    font-size:90%;
    }
    .app-c-contents-list__list-item--dashed {
    margin-left:20px;
    padding-right:20px
    }
    .app-c-contents-list__list-item--dashed:before {
    content:"— ";
    margin-left:-20px
    }
    .heading-medium{
       margin-top: 0em;
    }
    .heading-small{
       margin-top: 0em;
    }
    .panel.callout.blue {
       background-color: #2b8cc4;
    }
    .panel.callout {
       padding: 30px 15px;
       margin-bottom: 2em;
       color: #ffffff;
       border-left-style: none;
    }

    .button-blue {
       background-color: #0072C6;
       position: relative;
       display: -moz-inline-stack;
       display: inline-block;
       padding: .3em .789473em .263157em;
       padding-bottom: 0.263157em;
       border: none;
       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
       outline: 1px solid transparent;
       outline-offset: -1px;
       box-shadow: 0 2px 0 #003618;
       font-size: 1.2em;
       line-height: 1.8em;
       text-decoration: none;
       cursor: pointer;
       color: #fff;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       vertical-align: top;
       transition: background-color 300ms ease-out;
    }

    .button-blue:hover {
       background-color: #2b8cc4;
       transition: background-color 300ms ease-out;
    }
    .example-icon-list p {
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .list--check, {
    list-style: none;
    padding-left: 32px;
  }
  .list--check li::before {
    background-image:
  }
  .standard {
    vertical-align: middle;
    padding: 0;
    counter-reset: standard-counter;
  }
  .standard>li::before {
    width: 10%;
  }
  .standard>li {
    list-style: none;
    display: block;
    border-top: 1px solid #bfc1c3;
    padding: 1em 0 0.5em 0;
    margin: 0;
    page-break-inside: avoid;
  }
  .updated-standard li .point {
    width: 67%;
  }
  .standard>li .point {
    padding-left: 3em
  }
  .standard>li .point {
    font-size: 18px;
    line-height: 1.2;
  }
/*  .circle-step {
    font-size: 19px;
    min-width: 38px;
    min-height: 38px;
    line-height: 38px;
  }*/
  .circle {
    display: inline-block;
    border-radius: 50%;
    background: #0b0c0c;
    color: #fff;
    font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 0.5em 0em 0em 1em;
  }
  .panel_side {
    display: block;
    padding-top: 15px;
    background-color: #DEE0E2;
  }
  .panel_side_inner {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
  }
  .display_field {
    margin-bottom: 20px;
    display: block;
  }
  .display_field_value h3 {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .income-img {
    width: 283px;
  }
  @media(max-width:640px) {
    .income-img {
      width: 100%
    }
  }
    </style>


<main id="content" role="main">
        <div class="heading-group">
            <p>Staff guides</p>
            <h1 class="heading-large">Digital application</h1>
        </div>
        <p class="lede">How to assess a digital application</p><!--        <p class="lede">How to process an application, deal with evidence checks, part payments, appeals, and fraud.</p> -->
        <hr>
        <div class="grid-row">
            <div class="column-third">
                <nav class="app-c-contents-list" role="navigation">
                    <h2 class="heading-small">Contents</h2>
                    <!-- <ol class="app-c-contents-list__list">
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#introduction">Introduction</a>
                        </li> -->
                        <!--<li class="app-c-contents-list__list-item app-c-contents-list__list-item==parent">
                            <a class="app-c-contents-list__link" href="#who-apply">Who can appeal</a>
                        </li> -->
                        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--parent">
                            <a class="app-c-contents-list__link" href="#what-to-do">What to do</a>
                        </li>
                        <!--<li class="app-c-contents-list__list-item app-c-contents-list__list-item==parent">
                            <a class="app-c-contents-list__link" href="#contact">Successful appeals</a>
                        </li> -->
                        <!--<li class="app-c-contents-list__list-item app-c-contents-list__list-item==parent">
                        <a class="app-c-contents-list__link" href="#contact">Unsuccessful appeals</a>
                        </li> -->
                    </ol><br>
                    <!-- <p><a class="button-blue" href="#more-guides" style="color:white; font-weight: 600">More guides &nbsp; &nbsp; ⬇</a></p> -->
                </nav>
            </div>
            <div class="column-two-thirds">
                <!-- <h2 class="heading-medium" id="introduction">Introduction</h2>
                <p>This is the guide on </p>
                <br> -->

                <h2 class="heading-large" id="what-to-do">What to do</h2>
                <ol class="standard">
                    <li style="border-top: none;">
                        <span class="circle circle-step">1</span>
                        <div class="point">
                            <p><span class="heading-small">View the next digital application available to register</span><br>
                            Click on the green 'next' button to bring up the details you will need to register an application on CRS.</p>
                             <img style="width:60%" src="/public/images/bsa/get-next-button.png">
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">2</span>
                        <div class="point">
                            <p><span class="heading-small">Register the application on CRS and enter the CRS number into the online system</span><br>
                            Once you've registered the application in CRS, enter the CRS number into the online system and click to blue 'link CRS' button.</p>
                            <p>This will make sure that any digital applications can be found using the CRS number if need be.</p>
                            <img style="width:60%" src="/public/images/bsa/link-crs-button.png">
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">3</span>
                        <div class="point">
                            <p><span class="heading-small">View full application details and assess as normal</span><br>
                            View the full application details by clicking on the applicants name.</p>
                            <p>You will be able to see each section of information in different tabs, such as income or housing costs.</p>
                        </div>
                    </li>
<!--                     <li>
                        <span class="circle circle-step">4</span>
                        <div class="point">
                            <p><span class="heading-small">Add note to </span><br>
                            It could be that your</p>
                        </div>
                    </li> -->
                </ol>
            </div>
        </div>
    </main>

    {% endblock %}
