{% extends "layout_internal.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<style>
/*	<link href="../assets/stylesheets/styles.css" rel="stylesheet">
	<link href="../assets/stylesheets/r2_calculator.css" rel="stylesheet">
	<link href="../assets/stylesheets/r1calc.css" rel="stylesheet">*/

.example {
  position: relative;
  overflow: hidden;
background-color: #F8F8F8;
margin-right: 2%;
border: 10px solid #dee0e2;
  margin-bottom: 0.78947em;
  margin-top: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }
  .info-table {
  span {
    float: right;
    width: 60%;
  }
}
	</style>

<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">

    <div class="column-half">

        <div class="example">
          <h2 class="bold-medium">Process a paper application</h2>
          <br>
<p>You'll need:</p>
<ul class="list-bullet">
							<li>the help with fees application form (EX160)</li>
							<li>the court or tribunal form related to the application</li>
						</ul>
						<a class="button" href="1-personal.html" style="margin-top:1em">Start now</a>
      </div>

    </div>

    <div class="column-half">

        <div class="example">
          <h2 class="bold-medium">Process an online application</h2>
          <br>
<p>You'll need:</p>
<ul class="list-bullet">
							<li>the help with fees application form (EX160)</li>
							<li>the court or tribunal form related to the application</li>
						</ul>
						<a class="button" href="1-personal.html" style="margin-top:1em">Start now</a>
      </div>

    </div>
				
	<div class="column-half">
					<div class="panel" data-equalizer-watch="">
						<h4>Process an online application</h4><label for="reference">Enter the 6 character reference:</label>
						<div class="small-2 medium-3 large-3 columns" style="padding:0px;">
							<span class="prefix"><label class="inline" for="fee">HWF</label></span>
						</div>
						<div class="small-10 medium-9 large-9 columns" style="padding:0px;">
							<input id="reference" style="text-transform: uppercase;" type="text">
						</div><a class="button success" href="online-application-details-1.html">Start now</a>
					</div>
		
			</div><br>
			<div class="row">
				<div class="small-12 columns">
					<h4><img height="36px" src="/assets/images/icon-sml-evidence-home.png" width="36px">&nbsp; Waiting for evidence</h4>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table width="100%">
						<thead>
							<tr>
								<th width="18%">Reference</th>
								<th width="22%">Applicant</th>
								<th width="22%">Date processed</th>
								<th>Processed by</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="evidence-check-2.html">AT001-15-1</a>
								</td>
								<td>Mr Mark Morgan</td>
								<td>19 October</td>
								<td>Juliana Richardson</td>
							</tr>
							<tr>
								<td>
									<a href="evidence-check-2.html">AT001-15-2</a>
								</td>
								<td>Mr Mark Morgan</td>
								<td>19 October</td>
								<td>Juliana Richardson</td>
							</tr>
							<tr>
								<td>
									<a href="evidence-check-2.html">AT001-15-3</a>
								</td>
								<td>Mr Mark Morgan</td>
								<td>19 October</td>
								<td>Juliana Richardson</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><br>
			<div class="row">
				<div class="small-12 columns">
					<h4><img height="36px" src="/assets/images/icon-sml-part-fee.png" width="36px">&nbsp; Waiting for part-payment</h4>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table width="100%">
						<thead>
							<tr>
								<th width="18%">Reference</th>
								<th width="22%">Applicant</th>
								<th width="22%">Date processed</th>
								<th>Processed by</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="payment-2.html">AT001-15-4</a>
								</td>
								<td>Mrs Elizabeth Sloe</td>
								<td>19 October</td>
								<td>Juliana Richardson</td>
							</tr>
							<tr>
								<td>
									<a href="payment-2.html">AT001-15-5</a>
								</td>
								<td>Miss Mary Smith</td>
								<td>19 October</td>
								<td>Juliana Richardson</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><br>
			<div class="row">
				<div class="small-12 columns">
					<h4><img height="36px" src="/assets/images/icon-sml-process-home.png" width="36px">&nbsp; Completed</h4>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table width="100%">
						<tbody>
							<tr>
								<td>
									<a href="list-processed-week.html">Processed applications</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="list-deleted.html">Deleted applications</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<script>
			$(function() {
			clearAppData('staff');
			});
			</script>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<br>
				<footer class="row page-footer">
					<div class="small-12 columns">
						<div class="row">
							<div class="small-12 medium-5 large-6 columns">
								<h4>Contact us</h4>
								<hr style="color:bfc1c3;">
								<div class="bold">
									Email us
								</div>
								<p><a href="mailto:helpwithfees.support@digital.justice.gov.uk">helpwithfees.support@digital.justice.gov.uk</a></p>
								<div class="bold">
									Give feedback
								</div>
								<p><a href="#">Tell us what you think</a></p>
							</div>
							<div class="small-12 medium-7 large-6 columns">
								<h4>Staff guides</h4>
								<hr style="color:bfc1c3;">
								<div class="row">
									<div class="small-7 columns">
										<p>How to process an application, deal with spot checks, part payments, appeals, and fraud.</p>
										<p><a href="guide-landing.html" target="_blank">See the guides</a></p>
									</div>
									<div class="small-4 columns end"><img src="../assets/images/icon-guide-home.png"></div>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="../assets/javascripts/libs.js">
		</script>
		<script src="../assets/javascripts/lodash.js">
		</script>
		<script src="../assets/javascripts/numeral.min.js">
		</script>
		<script src="../assets/javascripts/app.js">
		</script>
		<script src="../assets/javascripts/details.polyfill.js">
		</script>
		<script src="../assets/javascripts/income_sources.js">
		</script>
		<script src="../assets/javascripts/income_threshold.js">
		</script>
		<script src="../assets/javascripts/income_detail.js">
		</script>
		<script src="../assets/javascripts/summary.js">
		</script>
		<script src="../assets/javascripts/form_number.js">
		</script>
		<script src="../assets/javascripts/form_validation.js">
		</script>
	</div>

</main>

{% endblock %}