 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

<div class="grid-row">
	<div class="heading" style="padding-left:15px">
		
		<div class="column-two-thirds">
		<h1 class="heading-xlarge">How much do you estimate you will earn?</h1>
			<form method="post">
				<!-- <p class="lede">You've told us that you ended a job on 1 December 2015 and now work 20 hours a week.</p>

				<p>We will use this information to calculate your estimated earnings between the date you ended a job and 5 April 2016.</p> -->

				<p id="calculation-paragraph" class="lede">You've told us that you ended a job on 1 December 2015 and now work 20 hours a week.</p>

				<h2 class="heading-medium">
				What pay do you want to use to work out your estimate?
				</h2>
				<!-- <p style="margin:0 0 10 0px">Based on your:</p> -->
				<fieldset>
					<legend class="visuallyhidden">What pay do you want to use to work out your estimate?</legend>
					<label class="block-label" style="font-weight:normal;"for=
							"radio-inline-0"><input checked="checked" id=
							"radio-inline-0" name="radio-group" type="radio" value=
						"an hour">Hourly</label>
						<label class="block-label" style="font-weight:normal;" for="radio-inline-1"><input id=
							"radio-inline-1" name="radio-group" type="radio" value=
						"a week">Weekly</label>
						<label class="block-label" style="font-weight:normal;" for=
							"radio-inline-2"><input id="radio-inline-2" name=
						"radio-group" type="radio" value="a month">Monthly</label>
						<label class="block-label" style="font-weight:normal;" for="radio-inline-3"><input id="radio-inline-3" name=
						"radio-group" type="radio" value="a year">Yearly</label>
				</fieldset>

				    <fieldset>

				<h2 class="heading-medium">How much do you get paid
				<span id="frequency">hourly</span>?</h2>
				<div>£ <input autocomplete=
					"off" class="form-control" name="amount" id="amount" maxlength="12" style=
				"display: inline-block;width:20%;" type="text"></div>

				<br/>
				<button class="button-blue" name="calculate" type="submit" 
				value="next" id="calculate">Calculate</button>
				<p id="calculation-text"></p>
				<!-- <div class="taxable-income" id="taxable-income">
					<div style=
						"border-top:3px solid #000; border-bottom: 3px solid #000;overflow:hidden;">
						<h2 class="heading-medium" style="float:left;margin-top:18px;">
						Your estimated earnings for this job are:</h2>
						<span id="estimate" class="estimate" style="float:right;display:block;margin-top:10px;">£0.00</span>
					</div> -->
				<table>
					<tbody>
						<tr style="border-top:3px solid #000;
							border-bottom: 3px solid #000; ">
							<td style="font-weight: 700;font-size:19px;">
							Your estimated earnings for this job are</td>
							<td style="font-weight: 700;font-size:19px;">
								<span id="income-summary">£0.00</span></td>
						</tr>
					</tbody>
				</table>
				<input name="estimated-amount" id="estimated-amount" type="hidden" value={{estimated-amount}}>
				<br>
				
				<input name="nextUrl" value="remove_job_estimated_annual_employed_earnings_edh" type="hidden">
				<button class="button" type="submit">Continue</button>
				<!-- <input  id="continue" class="button" name="action" value="Continue" type="submit" > -->
			</form>
		</div>
	</div>
	<div class="column-third">
		<!--
		<div class="form-link-group">
			<button class="button-blue" name="action" type="submit" value=
			"next" id="add-job">+ Add another job</button>
		</div>
		-->
	</div>
</div>
</main>

<script src="/public/javascripts/bootstrap-datepicker.js"></script>
<script src="/public/javascripts/moment.js"></script>
<script>
	var jobEndDate = undefined;

		jobEndDate = new Date({{empl-job-end-year}},{{empl-job-end-month}} - 1,{{empl-job-end-day}},0,0,0,0);

	var startAnnualPeriod = new Date(2015,03,05,0,0,0,0);
	var endAnnualPeriod = new Date(2016,03,05,0,0,0,0);
	var dateFormat = 'DD/MM/YYYY';
	var displayFormat = "D MMMM YYYY";

	var hoursAWeek = {{end_job-hours-a-week}};

	$(document).ready(function(){
		var jobCounter = 1;

		var date = moment(jobEndDate).format(displayFormat);
		//Change dates in first paragraph
		$('#calculation-paragraph').text(
			"You've told us that you ended a job on " +
			 date + 
			 " and now work {{end_job-hours-a-week}} hours a week. We will use this information to calculate your estimated earnings until 5 April 2016."
		);
	
		// Date pickers
		$('#frequency').text($(':checked').val());
		var nowTemp = new Date();
		var checkin = $('.date-picker').datepicker({
			onRender: function(date) {
				return date.valueOf() < startAnnualPeriod.valueOf() || date.valueOf() > endAnnualPeriod.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function(selection) { //needs to be reworked
			if($("#start_date").valueOf() > selection.date.valueOf()) {
				console.log("Start date preceeds end date");
			}
		});
		//need two datepickers to check if the values are different
		$('input[type=radio]').on('click', function(){
			var value = $(this).val();
			$('#frequency').text(value);
		});
		// Calc on calculate
		$('#calculate').on('click', function () {
			//Get all estimated earnings so far and fill in the last
			var amountStr = $("#amount").val();
			if(amountStr){
				var start = getStartDateThisTaxYear();
				var end = getEndDateThisTaxYear();
				var calculation = calculateEarnings(start, end, parseInt($('#amount').val()))
				var earnings = calculation[0];
				var displayText = "To calculate your estimated earnings for this tax year, " + calculation[1];

				console.log('start date: ' + start.format(dateFormat));
				console.log('end date: ' + end.format(dateFormat));
				console.log('earnings: ' + earnings);

				$('#income-summary').each(function() {
					var elem = $(this);
					elem.text((function () {
						return '£' + earnings.toFixed(2);
					})());
					$("#estimated-amount").val(earnings.toFixed(2));
				});
				$('#calculation-text').text(displayText)
				$("#continue").prop('disabled', false);
			}
		});
		//Add a job
		$('#add-job').on('click', function() {
			if(jobCounter >= 10) {
				alert("Too many jobs entered");
			} else {
				//Add another estimation field fwhen adding
				addEstimationBlockOnAddJob()
				//clear start and end dates and amount input field
				clearInputOnAddJob();
				jobCounter++;
				$('#estimateearnings-job').text('Job ' + jobCounter);
			}
		});
	});
	//prevent form submission on calculate
	$("#calculate").on('click', function(e){
		e.preventDefault();
	});

	function calculateEarnings(startDate, endDate, amount) {
		var freqType = $('input[name="radio-group"]:checked').val();
		var daysInYear = moment(endDate).diff(startDate, 'days');
		var amountADay;
		var displayText;
		switch (freqType) {
			case "an hour":
				amountADay = amount * hoursAWeek / 7;
				var weeksRemaining = daysInYear / 7;
				displayText = "£" + amount.toFixed(2) + " an hour x "
								  + hoursAWeek + " hours a week x "
								  + Math.floor(weeksRemaining) + " weeks (number of weeks";
				break;
			case "a week":
				amountADay = amount / 7;
				var weeksRemaining = daysInYear / 7;
				displayText = "£" + amount.toFixed(2) + " a week x " + Math.floor(weeksRemaining) + " weeks (number of weeks";
				break;
			case "a month":
				amountADay = amount * 12 / 365.25;
				var monthsRemaining = daysInYear * 12 / 365.25;
				displayText = "£" + amount.toFixed(2) + " a month x " + Math.floor(monthsRemaining) + " months (number of months";
				break;
			case "a year":
				amountADay = amount / 365.25;
				displayText = "£" + amount.toFixed(2) + " a year x " + (daysInYear / 365.25).toFixed(2) + " years (number of years";
				break;
			default:
				amountADay = 0;
				displayText = "";
				break;
		}

		var displayFormat = "D MMMM YYYY";
		return [daysInYear * amountADay,
				displayText + " from " + startDate.format(displayFormat) + " to " + endDate.format(displayFormat) + ")."];
	}

	//return momentjs date
	function getStartDateThisTaxYear() {
		return moment(startAnnualPeriod);
	}

	//return momentjs date
	function getEndDateThisTaxYear() {
		var endDate;
		if (jobEndDate) {
			endDate = moment(jobEndDate);
		} else {
			endDate = moment("06/04/2016", dateFormat);
		}
		return moment.min(endDate, moment(endAnnualPeriod));
	}

	function clearInputOnAddJob() {
		$('#start_date').val("");
		$('#end_date').val("");
		$('#amount').val(0);
	}
	function addEstimationBlockOnAddJob() {
		var estimation = '<h2 class="heading-medium" style="border-top:3px solid #000; border-bottom: 3px solid #000;">Your estimated earnings for this job is:<br><span id="estimate" class="estimate">£0.00</span></h2>'
		$('.taxable-income').append(estimation);
	}
	function annualEstimationDates() {
	}
</script>
{% endblock %}