 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <a class="link-back" href="javascript:history.go(-1)">Back</a>

    <h1 class="heading-xlarge">Change received</h1>

    <p class="lede">We have got the information about your new income</p>

    <h2 class="heading-large">What happens next</h2>
    <p>We will process your change and update your help with NHS costs.</p>

    <p>If this change affects the level of help you get we will:</p>

    <ul class="list list-bullet">
      <li>work out how much you will get</li>
      <li>send you a letter to let you know how much you will get – this can take up to 4 weeks</li>
    </ul>
    <br>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>

  </main>

{% endblock %}
