 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
     
      <h1 class="heading-large">We're currently building this service</h1>

    </div>
<!-- <p class="lede">We're currently building this service</p> -->
<p>At the moment you can only use this service if both of these apply:</p>

<ul class="list-bullet">
  <li>you claim state pension and it's your only income</li>
  <li>you live on your own</li>
</ul>
  <form action="" method="get" class="form">

        
<!--           <div class="form-group">
            <input class="button button-start" type="submit" href="#"  value="Apply online">
          </div> -->


<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="heading-medium">
          Do both of these things apply?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-yes-no-yes" name="yes-no-group" value="Yes" type="radio">
        <label for="radio-yes-no-yes">Yes</label>
      </div>
      <div class="multiple-choice" data-target="no-and-do-next">
        <input id="radio-yes-no-no" name="yes-no-group" value="No" aria-controls="no-and-do-next" aria-expanded="false" type="radio">
        <label for="radio-yes-no-no">No</label>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="no-and-do-next" aria-hidden="true">
        <h2 class="heading-medium">You can't apply online yet</h2>
          <p>You need to apply using a paper form called an HC1.</p>
          <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">download an HC1</a> or get one from Jobcentres, GP practices, pharmacies and Citizens Advice centres.</p>
      </div>

    </fieldset>
  </div>
          <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
</form>

    </div>
    </div>
</main>

{% endblock %}







