{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


           <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">Does {{firstname}} get housing benefit?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">Do you want to claim for any NHS costs you've already paid?</h1>
             {% endif %}
            </header>

          <!--   <p>Care homes are sometimes called nursing homes or residential care homes.</p> -->
<p>Refunds have to be claimed within 3 months of the date you paid the charge or had a sight test.</p>

      <form action="refund-handler" method="get" class="form">
        
        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you want to claim for any NHS costs you've already paid?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="carehome" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="carehome" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>




    </div>
    </div>

</main>


{% endblock %}






