 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


       <header class="page-header">
          <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Where you live</p>
           {% if thirdparty %}
          <h1 class="page-header--lede heading-large">Is {firstname} a student living away from home?</h1>
          {% else %}
          <h1 class="page-header--lede heading-large">What is the start and end dates of your rental agreement? </h1>
          {% endif %}
      </header>

  <form action="tenancydate-handler" method="get" class="form">
<div class="form-group">
  <label class="form-label" for="firstame">Start date</label>
  <input class="form-control" id="firstname" name="firstname" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="middlename">End date</label>
  <input class="form-control" id="middlename" name="firstname" type="text">
</div>


           <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>
               <p>
        </p>
   <!--  <p class="navigation"><a class="cancel" href="../lis-check-list">Save and come back later</a></p> -->
  </form>
    </div>
    </div>
</main>

{% endblock %}
