 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

        <div class="column-two-thirds">



            <header class="page-header">
                <h1 class="heading-xlarge">Declaration</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is </span>Submit application</p>
            </header>

            <div class="panel panel-border-wide">
                <p>You've told us you’re Shiela Green.</p>
            </div>
            <!-- <div class="notice spacelarge">
                <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                <strong class="bold-small">You've told us you&#8217;re Hayley Wills.</strong>
            </div> -->

            <p>I Shiela Green declare that:</p>
            <ul class="list list-bullet">
                <li>all the information in this application is correct</li>
<!--                 <li>I confirm that I have read and understood the <a href="https://www.gov.uk/government/collections/anti-money-laundering-businesses-supervised-by-hm-revenue-and-customs">guidance</a></li> -->
            </ul>

            <div class="form-group">
                <a href="done" role="button" class="button">Confirm</a>
            </div>

        </div>

    </div>

    </main>



{% endblock %}