 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

        <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Submit application</p>
            <h1 class="page-header--lede heading-large">Declaration</h1>
          </header>


<!--             <div class="panel panel-border-wide">
                <p>You've told us you’re completing this on behalf of Shiela Green.</p>
            </div> -->


            <p>I confirm that:</p>
            <ul class="list list-bullet">
                <li>the information I have given on this form is correct and complete, and I understand that if it is not, appropriate action may be taken</li>
                <li>I understand <a href="" target="_blank">how this information will be used</a>.</li>
                <li>I’m completing this form on behalf of Shiela Green and I’m responsible for this person’s financial affairs</li>
            </ul>
            <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    False information may lead to civil or criminal action.<br>  Anyone found to have wrongly claimed help with NHS costs will have to pay a penalty charge or may face prosecution.
  </strong>
</div>

<br><br>
            <div class="form-group">
                <a href="done" role="button" class="button">Agree and submit my application</a>
            </div>

        </div>

    </div>

    </main>




{% endblock %}