 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Do {{partnerortext}} get Pension Credit Guarantee Credit?
  </h1>
       <p>This is a top up payment up to £155.60 (for single people) or £237.55 (for couples).</p>
  <form action="guacredit-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="guacredit" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="guacredit" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
    </div>
    </div>
</main>

{% endblock %}
