{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
			<div class="column-two-thirds">


				<h1 class="heading-xlarge">Apply for help to pay NHS costs</h1>

				<h2 class="heading-medium">End to end service</h2>
				<p>Run from start</p>
				<p><a href="start" class="button">Get started</a></p>
				<hr>

				<h2 class="heading-medium">Page by page breakdown</h2>
				<p>Links to every page</p>
				<p><a href="/all-pages/index" class="button">Continue</a></p>

			</div>
		</div>
</main>

{% endblock %}
