{{<layout}}

{{$headerClass}}with-proposition withoutSignout{{/headerClass}}

{{$content}}


<main id="content" role="main">

   {{>includes/alpha_banner}}

	<h1 class="heading-xlarge">What you have to do</h1>

  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="timeline">
  <div class="inner">
    <div class="service-life">

      <ul class="phases-list">
  <li class="discovery">
    <h2>1. Confirm your identity</h2>

    <p>You'll need to provide personal details, including your name, National Insurance number and date of birth. <br><br>Then you'll need to answer security questions to help us match the details you provide with the information we know.</p>

  </li>
  <li class="alpha">
    <h2>2. View your tax credits</h2>
    <p>Once you've proved your identity you can use the Tax Credits Service to view your next payment and when it will be paid.<br><br> This is a new service. In future, you'll be able to report changes to your work and family life online.<br><br> Currently, you can only report changes using the Tax Credits Helpline. You must tell us about changes during the year so we can make sure you get the payments you're entitled to and avoid overpayments.</p>

  </li>
  <li class="beta">
    <h2>3. Provide feedback</h2>

    <p>When you're finished, sign out and tell us what you think of this service and help to improve it.</p>
  </li>
  <!-- <li class="live">
    <h2>Provide feedback</h2>

    <p>When you're finished, sign out and tell us what you think of this service and help to improve it.</p>

  </li> -->

  <li class="retirement">
    <!-- <h2>Finally</h2>

    <p>Blah blah blah services may eventually reach retirement. That should be treated with the same care as went into the building and maintaining of that service.</p> -->

  </li>
</ul>


    </div>
  </div>
</div>

<div class="form-group">
    <button class="button" type="submit">Continue
    </button>
</div>
            </div>

<!--
                <h2 class="heading-medium">Before you start</h2>
                <p class="text">You will need the details of the specific change (or changes) that you would like to tell us about.</p>
                <p class="text">For example:</p>

                <ul class="list-bullet text">
                    <li>An income change requires information which can be found on either your payslips or your P60</li>
                    <li>A new job requires you to tell us the employer's PAYE number which can be found on your payslips or your P60</li>
                    <li>For a child over the age of 16 you may require a child benefit reference number</li>
                </ul>
-->

</div>

</main>

{{/content}}

{{/layout}}
