{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">


        <div class="heading-group">
          <h1 class="heading-xlarge">Apply for help to pay NHS costs</h1>
        </div>

        <p class="lede">If you have difficulty paying your NHS costs you may be able to get help based on your circumstances.</p>

        <ul class="list list-bullet">
          <li>Income Support</li>
          <li>Pension Credit Guarantee Credit</li>
          <li>Universal Credit</li>
        </ul>

        <p><a href="#">What you need to do if you are already able to get help.</a></p>

        <h2 class="heading-medium">If you need to apply for help</h2>

        <p>You could get help with your health costs if you, or you and your partner if you live as a couple, have less than:</p>

        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>

        <p>You could get help towards your, your partner’s and your children’s:</p>

        <ul class="list list-bullet">
          <li>NHS dental treatment</li>
          <li>NHS prescriptions</li>
          <li>NHS wigs and fabric supports</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>travel to receive NHS treatment if you were referred by a GP, hospital doctor, dentist or optician</li>
        </ul>

        <p>You can apply at any time. Do not wait until you need treatment.</p>

        <p>
          <a class="button button-get-started" href="partner" id="next">Start a new application</a>
        </p>

        <a href="signin-continue">I've used this service before - view my application</a>

      </div>

  </div>

</main>

{% endblock %}
