{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

          <h1 class="heading-xlarge">Apply for help to pay NHS costs</h1>
  

        <p class="lede">You don't need to apply if you are already <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">entitled to help</a> with NHS costs.</p>
<!--         version two testing tuesday -->
<!--         <p>You do not need to wait until you need treatment to apply.</p> -->

      <!-- <h2 class="heading-medium">When you don't need to apply</h2>
      You are already entitled to full help with your NHS costs if you or your partner are getting:
  
        <ul class="list list-bullet">
          <li>Income Support</li>
          <li>Income-based Jobseeker's Allowance (JSA)</li>
          <li>Income-related Employment Support Allowance (ESA)</li>
          <li>Pension Credit Guarantee Credit</li>
          <li>Universal Credit, depending on your earnings</li>
          <li>Certain tax credits and the income on your award notice is £15,276 or less
          </li>
        </ul> -->
        <!-- <div class="panel panel-border-narrow" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem;">
             <p>Your partner and any children under 20 included on your benefits claim are also entitled to full help with NHS costs. </p>
        </div>
     

        <details>

  <summary><span class="summary">What to do if you get one of these benefits</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          <p>You don't have to do anything although you may have to show proof that you get one of these benefits.You can use your award notice as proof. </p>
          <p>Get a copy of yours by contacting the <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline</a> or </p>
        </div>
            </details> -->
        <h2 class="heading-medium">What you'll get</h2>
         <p>You could get help towards your:</p>

        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS dental treatment</li>
          <li>NHS wigs and fabric supports</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>travel to receive NHS treatment if you were referred by a GP, hospital doctor, dentist or optician</li>
        </ul>
        <div class="panel panel-border-wide" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem">
          <p>Your partner and dependant children under 19 will be entitled to the same help as you. </p>
        </div>

        <h2 class="heading-medium">What you need</h2>
        <p>When you apply, we'll ask for information about:</p>

<ul class="list-bullet">
<li>money you get, things like pay, pensions or student loans (your income)</li>
<li>your housing costs, things like council tax and rent (your outgoings)</li>
<li>any savings or investments you have</li>
</ul>
<br>
<p>If you have a partner, you'll need to tell us about their income and outgoings too.</p>

<details>

  <summary><span class="summary">Documents that could help</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          <p>You may need your:</p>
          <ul class="list-bullet">
          <li>payslips or latest business accounts (if self employed)</li>
          <li>student funding notices</li>
          <li>latest statement of benefits or award notice</li>
          <li>pension details</li>
          <li>savings, investments and property details</li>
          <li>rent or mortgage statements</li>
          <li>latest council tax bill or council tax benefit letter</li>
          </ul>
        </div>
            </details> 
            <br>

<!--         <p>You could get help with your health costs if you, or you and your partner if you live as a couple, have less than:</p>

        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul> -->

       

        

        <p>
          <a class="button button-get-started" href="preapp/kickout_release2" id="next">Apply now</a>
        </p>

<h2 class="heading-medium">Other ways to apply</h2>
        <p>If you can’t apply online, you can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">apply by post</a>. The form tells you the address to send it to.</p>

<p>We’ll let you know if you can get help within 18 days of receiving your form.</p>

<!-- future iteration  10.aug.17-->
<!--         <a href="signin-continue">I've used this service before - view my application</a> -->

      </div>

  </div>

</main>

{% endblock %}
