 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
      { if thirdparty }
      <h1 class="heading-large">Does {firstname} have any other money?</h1>
      <br>
    { else }
      <h1 class="heading-large">Do you have any other money?</h1>

    </div>
<p>For example cash</p>

  <form action="" method="get" class="form">


 <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you have any other money?
            </legend>

            <div class="multiple-choice" data-target="example-other-contact">
              <input id="applicant-contact" type="radio" name="thirdpartycontact" value="applicant-contact">
              <label for="applicant-contact">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="thirdparty-contact" type="radio" name="thirdpartycontact" value="thirdparty-contact">
              <label for="thirdparty-contact">no</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="example-other-contact">

              <h2 class="heading-medium">
                 How much money do you have? 
              </h2>

              <fieldset>

                <legend class="visually-hidden">
                   How much money do you have? 
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="address-line-1">Enter the total amount</label>
                  <input class="form-control" type="text" id="thirdpartyname1">
                </div>
              </fieldset>

            </div>
          </fieldset>
        </div>
          
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>
      </form>
    </div>
    </div>
</main>

{% endblock %}







