
{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">You've been away from your device for 30 minutes</h1>
      <p class="lede">For security reasons, we can't save what you have done so far. You will need to
        start again.</p>
      <!-- <p>We haven't saved any personal information you entered.</p> -->
      <br>
      <p><a class="button">Start your application again</a></p>
   
    </div>
  </div>
</main>

{% endblock %}
