
{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Sorry, you'll have to start again</h1>
      <p class="lede">You haven’t done anything for 30 minutes, so we’ve signed you out to keep your information secure.</p>
      <p>We haven't saved any personal information you entered.</p>
      <p><a class="button">Start your application again</a></p>
    </div>
  </div>
</main>

{% endblock %}
