{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">
               <p class="form-hint">Step 1 of 3</p>
        <h1 class="heading-large">Complete the following sections</h1>


        <table class="data-table">
          <tr class='clickable-row' data-href='you/registration'>
            <td>About you</td>
            <td><span id="about_you_status" class="complete-text">Completed</span>
            <a href="you/registration">View or change</a></td>
          </tr>
          <tr class='clickable-row' data-href='partner/partner'>
            <td>Partner status</td>
            <td><span id="about_you_status" class="complete-text">Completed</span>
            <a href="you/registration">View or change</a></td>
          </tr>
          <tr class='clickable-row' data-href='assets/property'>
            <td>Property, savings &amp; money</td>
            <td><span id="about_you_status" class="complete-text">Completed</span>
            <a href="you/registration">View or change</a></td>
          </tr>
          <tr class='clickable-row' data-href='live/hospital'>
            <td>About where you live</td>
            <td><span id="about_you_status" class="complete-text">Completed</span>
            <a href="you/registration">View or change</a></td>
          </tr>
        </table>

        <div class="text">

        <h1 class="heading-medium">Declare and submit</h1>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small" style="margin-top:20px;">
            I confirm that the information I have given in this form is correct and complete, and I understand that if it not, appropriate action may be taken.
          </strong>
        </div>
        <br>
        <p>
          <a class="button" href="end/view-entitlement" id="next">Agree and submit application</a>
        </p>

      </div>

      </div>

    </div>

  </div>

</main>

{% endblock %}
