 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

                <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What is {{firstname}}'s date of birth?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">What is your date of birth?</h1>
                 {% endif %}
            </header>

        <form action="birth-handler" method="get" class="form">

<div class="form-group">
  <fieldset>
<!--     <legend class="form-label-bold">Date of birth</legend> -->
<!-- <p>We only use this to check if your age entitles you to any help.</p> -->
    <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">For example, 31 07 1980</p>

    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
      </div>

      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
      </div>

      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>
<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
<!-- <p class="navigation"><a class="cancel" href="../lis-check-list">Save and come back later</a></p> -->
      </form>

    </div>

  </div>

</main>

{% endblock %}
