 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
     
      <h1 class="heading-large">Do you live on your own with pension as your only income?</h1>

    </div>
    <br>
<!-- <p class="lede">We're currently building this service</p> -->
<!-- <p>For now, you can only use this service if a pension is your only income and you live on your own.</p> -->

<!-- <ul class="list-bullet">
  <li>you claim state pension and it's your only income</li>
  <li>you live on your own</li>
</ul> -->
  <form action="kickout-handler" method="get" class="form">

        
<!--           <div class="form-group">
            <input class="button button-start" type="submit" href="#"  value="Apply online">
          </div> -->


<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="visually-hidden">
          Do both of these things apply?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-yes-no-yes" name="kickout" value="Yes" type="radio">
        <label for="radio-yes-no-yes">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-yes-no-no" name="kickout" value="No"  type="radio">
        <label for="radio-yes-no-no">No</label>
      </div>

    </fieldset>
  </div>
          <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
</form>

    </div>
    </div>
</main>

{% endblock %}







