 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


               <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">Does {{firstname}} live on your own with pension as their only income?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">Do you live on your own with pension as your only income?</h1>
             {% endif %}
            </header>


  <form action="kickout-handler" method="get" class="form">


<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="visually-hidden">
          Do you live on your own with pension as your only income?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-yes-no-yes" name="kickout" value="Yes" type="radio">
        <label for="radio-yes-no-yes">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-yes-no-no" name="kickout" value="No"  type="radio">
        <label for="radio-yes-no-no">No</label>
      </div>

    </fieldset>
  </div>
          <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
</form>

    </div>
    </div>
</main>

{% endblock %}







