{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}



<main id="content" role="main">

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before applying</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">What type of Pension Credit does {{firstname}} you get?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">What type of Pension Credit do you get?</h1>
                 {% endif %}
            </header>


 <p class="panel panel-border-wide">There are 2 types of Pension Credit, Guarantee Credit and Savings Credit.</p>

    
      
   
<br>
        <form action="pcredtype-handler" method="get" class="form">

       <div class="form-group">
          
          <fieldset>
            <legend class="visually-hidden">
              What type of Pension Credit do you get?
            </legend>

            <div class="multiple-choice">
              <input id="guacred" type="radio" name="pctype" value="guacred">
              <label for="guacred">Guarantee Credit</label>
            </div>

             <div class="multiple-choice">
              <input id="savcred" type="radio" name="pctype" value="savcred">
              <label for="savcred">Savings Credit</label>
            </div>

            <div class="multiple-choice">
              <input id="bothcred" type="radio" name="pctype" value="bothcred">
              <label for="bothcred">I get both</label>
            </div>
            
          </fieldset>  
          
        </div>
                  <details>
              <summary><span class="summary">I'm not sure what type I get</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

            

                     <p>Find out more about the <a href="https://www.gov.uk/pension-credit/eligibility" target="_blank">different types of Pension Credit</a>.</p>
                    <p>If you're still unsure contact the <a href="https://www.gov.uk/contact-pension-services">Pension Service helpline</a>.</p>

    
              </div>
            </details>
            <br>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>

      </div>

    </div>

</main>
{% endblock %} 
