{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
                <h1 class="page-header--lede heading-large">Apart from your pension, do you have any other income?</h1>
            </header>

<!-- keep eye on this in first round of testing
  <p>paid job etc</p> -->


  <form action="penincome-handler" method="get" class="form">


        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
                  Apart from your pension, do you have any other income?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="penincome" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="penincome" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>


    </div>
    </div>

</main>
{% endblock %}

