{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

               <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before you start</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">Does {{firstname}} get Universal Credit?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">Are you getting Universal Credit or ?</h1>
             {% endif %}
            </header>

      <form action="getuc-handler" method="get" class="form">
        
        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you get Universal Credit?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="getuc" value="yes">
              <label for="yes">Yes</label>
            </div>
<div class="multiple-choice">
              <input id="no" type="radio" name="getuc" value="no">
              <label for="no">No</label>
            </div>
             
            
          </fieldset>  
          

        </div>
        <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">Benefits being replaced by Universal Credit</span>
        </summary>
        <div class="panel panel-border-wide" id="details-content-0" aria-hidden="true">
        <p>Universal Credit is a new benefit that will gradually replace many benefits</p>
        </div>
    </details>
<br>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>

      </div>
      </div>


</main>


{% endblock %}






