{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-xlarge">You don't have permission to view this page</h1>
  <p class="text">
You can't view this page. If you think you should be able to, contact the Service Desk on 0870 010 3241 to request permission.
  </p>

    </div>
    </div>
</main>

{% endblock %}
