{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>


      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
          How it works
        </li>
        <li>
          <a href="2-what-you-get">What you'll get</a>
        </li>
        <li>
          <a href="3-eligibility">Eligibility</a>
        </li>
    </ol>
    <ol class="column-half" start="4">
        <li>
          <a href="4-apply">Make an application</a>
        </li>
        <li>
          <a href="5-refund">Refund of costs you've paid</a>
        </li>
        <li>
          <a href="6-renew">Renew or change your application</a>
        </li>
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          1. How it works
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You can apply for help with NHS costs if you don’t <a href="3-eligibility">already qualify</a> for help and are finding it hard to pay.</p>

<!--         <p>You could get help with your health costs if you, or you and your partner if you live as a couple, have less than:</p>

        <ul>
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home in England or Scotland, or</li>
          <li>£24,000 in savings, investments or properties if you permanently live in a care home in Wales</li>
        </ul> -->
<!-- 
        <div role="note" aria-label="Information" class="panel panel-border-wide">
<p>You can’t apply if you have more than £16,000 in cash, savings or investments, or £23,250 if you live permanently in a care home.</p>
</div> -->

<p>The amount of help you get depends on your circumstances, but you, your partner and your children under 19 could get help towards the cost of:</p>
        <ul>
          <li>NHS prescriptions</li>
          <li>NHS dental check-ups and treatment</li>
          <li>sight tests</li>
          <li>new glasses and contact lenses</li>
          <li>repairing or replacing your glasses and contact lenses</li>
          <li>NHS wigs</li>
          <li>fabric supports- things like surgical bras, support tights and spinal support</li>
          <li>travel for NHS treatment</li>
        </ul>

</div>



      <nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="next-page">
        <a href="2-what-you-get" rel="next">
          <span class="pagination-part-title">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="pagination-label">What you'll get</span>
        </a>
      </li>
  </ul>
</nav>


        <div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>


</div>

    </main>

</div>
{% endblock %}
