{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        <a href="1-how-it-works">How it works</a>
        </li>
        <li>
          What you'll get
        </li>
        <li>
          <a href="3-eligibility">Eligibility</a>
        </li>
    </ol>
    <ol class="column-half" start="4">
        <li>
          <a href="4-apply">Make an application</a>
        </li>
        <li>
          <a href="5-refund">Refund of costs you've paid</a>
        </li>
        <li>
          <a href="6-renew">Renew or change your application</a>
        </li>
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          2. What you'll get
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>Depending on your circumstances, you could be entitled to either:</p>
    <ul>
    <li><a href="#full">full help</a></li>
    <li><a href="#partial">partial help</a></li>
    </ul>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>Any help you get will be valid for between 6 months and 5 years depending on your circumstances. It’s important you know when your help expires so you don’t <a href="">get a fine</a>.</p>
</div>
<p>Benefit payments will not be affected by any help you get.


<h2 class="heading-medium" id="full">Full help</h2>
<p>If you qualify for full help you’ll get:</p>
<ul>
  <li>free NHS prescriptions</li>
  <li>free NHS dental check ups and treatment</li>
  <li>free NHS sight tests</li>
  <li>help with the cost of glasses or contact lenses</li>
  <li>help with the cost of travelling to receive NHS treatment</li>
  <li>free NHS wigs and fabric supports</li>
</ul>

<h2 class="heading-medium" id="partial">Partial help</h2>
<p>If you qualify for partial help you’ll get some help towards the cost of:</p>
<ul>
<li>NHS dental check-ups and treatment</li>
<li>NHS sight tests</li>
<li>travelling to receive NHS treatment</li>
<li>NHS wigs and fabric supports</li>
</ul>
<p>You may also be entitled to help towards the cost of glasses or contact lenses.</p>

<p>You don’t get any help to pay prescriptions but you <a href="">can save money on prescriptions</a> by prepaying for a 3 or 12 month period.
</p>

</div>

<nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="1-how-it-works" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">How it works</span>
        </a>
      </li>
      <li class="next-page">
        <a href="3-eligibility" rel="next">
          <span class="pagination-part-title">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="pagination-label">Eligibility</span>
        </a>
      </li>
  </ul>
</nav>


       <div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}

