{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        <a href="1-how-it-works">How it works</a>
        </li>
        <li>
          <a href="2-what-you-get">What you'll get</a>
        </li>
            </ol>
    <ol class="column-half" start="3">
        <li>
          Eligibility
        </li>

        <li>
          <a href="4-apply">Apply</a>
        </li>
<!--         <li>
          <a href="5-refund">Refund of costs you've paid</a>
        </li>
        <li>
          <a href="6-renew">Renew or change your application</a>
        </li> -->
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          3. Eligibility
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">

  <p>The amount of savings, investments or property you are allowed before you can't get help with NHS costs differs depending on where you live.  </p>
<!--   <ul>
    <li>£16,000 if you don't live in a care home</li>
    <p style="margin: 0em 0em 0.3em 0em">or</p>
    <li>£23,250 if you live permanently in a care home in England or Scotland</li>
    <li>£24,000 if you live permanently in a care home in Wales</li>
  </ul> -->

          <table style="font-size: 14px;">
  <thead >
    <tr>
      <th style="width:50%">Where you live</th>
      <th>Total savings, investments or property <br>(not including the property you live in)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px">Not in a care home </td>
      <td style="font-size: 14px; font-weight:400">£16,000</td>
    </tr>
    <tr>
      <td style="font-size: 14px">Permanently living in a care home in England</td>
      <td style="font-size: 14px; font-weight:400">£23,250</td>
    </tr>
    <tr>
      <td style="font-size: 14px">Permanently living in a care home in Scotland</td>
      <td style="font-size: 14px; font-weight:400">£23,250</td>
    </tr>
    <tr>
      <td style="font-size: 14px">Permanently living in a care home in Wales</td>
      <td style="font-size: 14px; font-weight:400">£24,000</td>
    </tr>
  </tbody>
</table>

    <p>Check if you <a href="#already-qualify">already qualify</a> you for full help with your NHS costs</a>. If you do, you don't need to apply.</p>
<!-- <h2 class="heading-medium">How it’s worked out</h2>

<p>The amount of help you get depends on the following:</p>
  <ul>
    <li>your income (including pensions, investments, benefit payments and student loans)</li>
    <li>your savings (or does it not matter if it’s under £16k?)</li>
    <li>property you own (not including the place you live)</li>
    <li>your housing and council tax costs</li>
    <li>the people who live with you</li>
    <li>if you have a disability</li>
    <li>your partner’s circumstances (if you have one)</li>
  </ul>


<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>If you have less than £128 a week left to spend after you have paid your housing costs and council tax, you are likely to get some help towards your NHS costs.</p>
</div> -->


<h2 class="heading-medium" id="already-qualify">Already qualify for help paying NHS costs </h2>
<h3>Claiming certain benefits</h3>
      <p>You are already entitled to full help with your NHS costs if you or your partner are getting:</p>
  
        <ul class="list list-bullet">
          <li>Income Support</li>
          <li>Income-based Jobseeker's Allowance (JSA)</li>
          <li>Income-related Employment Support Allowance (ESA)</li>
          <li>Pension Credit Guarantee Credit</li>
          <li>Universal Credit, depending on your earnings</li>
          <li>Child Tax Credit or Working Tax Credit with the disability element, with a household income of £15,276 or less
          </li>
        </ul>
        <div role="note" aria-label="Information" class="panel panel-border-wide">
             <p>Your partner and any children under 20 included on your benefits claim are also entitled to full help with NHS costs. </p>
        </div>
        <h3>Asylum seekers</h3>
        <p>If you are still waiting for your asylum decision from the Home Office, you will get full help with NHS costs, and should be issued a Full help Health Certificate (HC2) by UK Visas and Immigration.</p>
        <table style="font-size: 14px;">
  <thead>
    <tr>
      <th>Your situation</th>
      <th>What happens</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px">Awaiting asylum decision</td>
      <td style="font-size: 14px; font-weight:400">You'll be issued a Full help Health Certificate (HC2) </td>
    </tr>
    <tr>
      <td style="font-size: 14px">Awaiting outcome of an appeal</td>
      <td style="font-size: 14px; font-weight:400">You'll be issued a Full help Health Certificate (HC2) </td>
    </tr>
    <tr>
      <td style="font-size: 14px">Refused permission to stay</td>
      <td style="font-size: 14px; font-weight:400">You need to <a href="4-apply">apply</a></td>
    </tr>
    <tr>
      <td style="font-size: 14px">Given permission to stay</td>
      <td style="font-size: 14px; font-weight:400">You need to <a href="4-apply">apply</a></td>
    </tr>
  </tbody>
</table>


</div>
<nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="2-what-you-get" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">What you'll get</span>
        </a>
      </li>
      <li class="next-page">
        <a href="4-apply" rel="next">
          <span class="pagination-part-title">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="pagination-label">Apply</span>
        </a>
      </li>
  </ul>
</nav>


       <div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}

