{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        <a href="1-how-it-works">How it works</a>
        </li>
        <li>
          <a href="2-what-you-get">What you'll get</a>
        </li>
        <li>
          Eligibility
        </li>
    </ol>
    <ol class="column-half" start="4">
        <li>
          <a href="4-apply">Make an application</a>
        </li>
        <li>
          <a href="5-refund">Refund of costs you've paid</a>
        </li>
        <li>
          <a href="6-renew">Renew or change your application</a>
        </li>
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          3. Eligibility
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>Don’t apply if you <a href="">already qualify for help</a> as you already get <a href="">full help with your NHS costs</a>.</p>
  <p>You won’t qualify for any help if you or your partner have more than: </p>
  <ul>
    <li>£16,000 in savings, investments or property (not including the place you live)</li>
    <li>£23,250 in savings, investments or property if you live permanently in a care home (£24, 000 if you live in Wales)</li>
  </ul>
<h2 class="heading-medium">How it’s worked out</h2>

<p>The amount of help you get depends on the following:</p>
  <ul>
    <li>your income (including pensions, investments, benefit payments and student loans)</li>
    <li>your savings (or does it not matter if it’s under £16k?)</li>
    <li>property you own (not including the place you live)</li>
    <li>your housing and council tax costs</li>
    <li>the people who live with you</li>
    <li>if you have a disability</li>
    <li>your partner’s circumstances (if you have one)</li>
  </ul>


<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>If you have less than £128 a week left to spend after you have paid your housing costs and council tax, you are likely to get some help towards your NHS costs.</p>
</div>

</div>
<nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="2-what-you-get" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">What you'll get</span>
        </a>
      </li>
      <li class="next-page">
        <a href="4-apply" rel="next">
          <span class="pagination-part-title">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="pagination-label">Apply</span>
        </a>
      </li>
  </ul>
</nav>


       <div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}

