<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>Help to pay NHS Costs - GOV.UK</title>

    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-c49b983af00205bcff91f0d722b6a1ef174e8fee7673f7297d83d4850a61e072.css" media="screen" rel="stylesheet">
    <link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
      
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/benefits" data-track-options='{"dimension28":"3","dimension29":"Benefits"}' class="" aria-current="false" href="/browse/benefits">Benefits</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/benefits/disability" data-track-options='{"dimension28":"3","dimension29":"Carers and disability benefits"}' class="" aria-current="false" href="/browse/benefits/disability">Health benefits</a>
    </li>
  </ol>
</div>


      
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-average">
  <h1>Apply for help with NHS costs
</h1>
</div>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        <a href="1-how-it-works">How it works</a>
        </li>
        <li>
          <a href="2-what-you-get">What you'll get</a>
        </li>
        <li>
          <a href="3-eligibility">Eligibility</a>
        </li>
    </ol>
    <ol class="column-half" start="4">
        <li>
          <a href="4-apply">Make an application</a>
        </li>
        <li>
          Refund of costs you've paid
        </li>
        <li>
          <a href="6-renew">Renew or change your application</a>
        </li>
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          5. Refund of costs you've already paid
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>If you pay for treatment before you apply for help, you may be able to claim a refund.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You must claim a refund within 3 months.</p>
</div>

<h2 class="heading-medium">Claim a refund for a prescription </h2>

<p>You can only claim a refund if you ask for an NHS receipt form FP57 when you pay. The form tells you what to do to claim your refund.</p>

<h2 class="heading-medium">Claim a refund of other health costs</h2>
<p>You need to complete a refund form (HC5) and post it back to us. </p>

<h3 class="heading-small">If you live in England</h3>
<p>Download and complete the relevant form:
<ul>
<li>dental</li>
<li>sight test, glasses or contact lenses</li>
<li>travel to receive NHS treatment</li>
<li>NHS wigs or fabric supports</li>
</ul> 
<p>You can also order HC5 forms online (except the HC5 for wigs and fabric supports). </p>

</p>
<h3 class="heading-small">If you live in Scotland</h3>
<h3 class="heading-small">If you live in Wales</h3>

</div>



<nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="4-apply" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">Apply</span>
        </a>
      </li>
      <li class="next-page">
        <a href="6-renew" rel="next">
          <span class="pagination-part-title">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="pagination-label">Renew or change your application</span>
        </a>
      </li>
  </ul>
</nav>


<div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>
  <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Carers and disability benefits
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/carers-allowance-unit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Contact the Carer's Allowance Unit&quot;}" href="#">Contact the Carer's Allowance Unit</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/attendance-allowance" data-track-options='{"dimension28":"6","dimension29":"Attendance Allowance"}' href="#">Attendance Allowance</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/carers-credit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Carer's Credit&quot;}" href="#">Carer's Credit</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/dla-disability-living-allowance-benefit" data-track-options='{"dimension28":"6","dimension29":"Disability Living Allowance (DLA) for adults"}' href="#">Disability Living Allowance (DLA) for adults</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/pip" data-track-options='{"dimension28":"6","dimension29":"Personal Independence Payment (PIP)"}' href="#">Personal Independence Payment (PIP)</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="/browse/benefits/disability" data-track-options='{"dimension28":"6","dimension29":"More"}' href="#">
                More
                  <span class="visuallyhidden">
                    in
                    Carers and disability benefits
                  </span>
</a>            </li>
        </ul>
      </nav>
      <h2 data-track-count="sidebarRelatedItemSection">
        Benefits
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.1" data-track-label="/constant-attendance-allowance" data-track-options='{"dimension28":"4","dimension29":"Constant Attendance Allowance"}' href="#">Constant Attendance Allowance</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.2" data-track-label="/how-to-have-your-benefits-paid" data-track-options='{"dimension28":"4","dimension29":"How and when your benefits are paid"}' href="#">How and when your benefits are paid</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.3" data-track-label="/benefit-fraud" data-track-options='{"dimension28":"4","dimension29":"Benefit fraud"}' href="#">Benefit fraud</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="2.4" data-track-label="/browse/benefits" data-track-options='{"dimension28":"4","dimension29":"More"}' href="#">
                More
                  <span class="visuallyhidden">
                    in
                    Benefits
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/carers-allowance">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Births, deaths, marriages and care</a></li>
          <li><a href="#">Business and self-employed</a></li>
          <li><a href="#">Childcare and parenting</a></li>
          <li><a href="#">Citizenship and living in the UK</a></li>
          <li><a href="#">Crime, justice and the law</a></li>
          <li><a href="#">Disabled people</a></li>
          <li><a href="#">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="#">Education and learning</a></li>
          <li><a href="#">Employing people</a></li>
          <li><a href="#">Environment and countryside</a></li>
          <li><a href="#">Housing and local services</a></li>
          <li><a href="#">Money and tax</a></li>
          <li><a href="#">Passports, travel and living abroad</a></li>
          <li><a href="#">Visas and immigration</a></li>
          <li><a href="#">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="#">How government works</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Worldwide</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="#">Help</a></li>
  <li><a href="#">Cookies</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Terms and conditions</a></li>
  <li><a href="#" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="#">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="#" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="#/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="#">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.11.3-c40d54aaf7339842749de8469b5b8915b886b5e67cd218d48a780cc2f2471853.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-67c9fdb12cd069ce13482bbbf163a8b50f79d4c6ca75df83e5351559b96fa034.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-f8a25c4f85ad5520f9ae61b244160bef62467f30ec1517dfe8bf7a0fc0a61e16.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-33a7e0b6382eb3a79f04760bfc1fc54b920f068fa08b60294cf6f833e2d86d15.js"></script>
</body>
</html>

