{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        <a href="1-how-it-works">How it works</a>
        </li>
        <li>
          <a href="2-what-you-get">What you'll get</a>
        </li>
            </ol>
    <ol class="column-half" start="3">
        <li>
          <a href="3-eligibility">Eligibility</a>
        </li>

        <li>
          <a href="4-apply">Make an application</a>
        </li>
<!--         <li>
          <a href="5-refund">Refund of costs you've paid</a>
        </li>
        <li>
          Renew or change your application
        </li> -->
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          1. How it works
        </h1>

      
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You can apply for help with NHS costs if you don’t <a href="/carers-allowance/eligibility">already qualify</a> for help and are finding it hard to pay.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can’t apply if you have more than £16,000 in cash, savings or investments, or £23,250 if you live permanently in a care home.</p>
</div>

<p>The amount of help you get depends on your circumstances, but you, your partner and your children under 19 could get help towards the cost of:</p>
  <ul>
    <li>NHS prescriptions</li>
    <li>NHS dental check-ups and treatment</li>
    <li>sight tests, glasses and contact lenses</li>
    <li>travel to receive NHS treatment</li>
    <li>NHS wigs and fabric supports</li>
  </ul>

</div>



<nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="5-refund" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">Refund of costs you've paid</span>
        </a>
      </li>
  </ul>
</nav>

 <!--  <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Carers and disability benefits
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/carers-allowance-unit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Contact the Carer's Allowance Unit&quot;}" href="#">Contact the Carer's Allowance Unit</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/attendance-allowance" data-track-options='{"dimension28":"6","dimension29":"Attendance Allowance"}' href="#">Attendance Allowance</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/carers-credit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Carer's Credit&quot;}" href="#">Carer's Credit</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/dla-disability-living-allowance-benefit" data-track-options='{"dimension28":"6","dimension29":"Disability Living Allowance (DLA) for adults"}' href="#">Disability Living Allowance (DLA) for adults</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/pip" data-track-options='{"dimension28":"6","dimension29":"Personal Independence Payment (PIP)"}' href="#">Personal Independence Payment (PIP)</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="/browse/benefits/disability" data-track-options='{"dimension28":"6","dimension29":"More"}' href="#">
                More
                  <span class="visuallyhidden">
                    in
                    Carers and disability benefits
                  </span>
</a>            </li>
        </ul>
      </nav>
      <h2 data-track-count="sidebarRelatedItemSection">
        Benefits
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.1" data-track-label="/constant-attendance-allowance" data-track-options='{"dimension28":"4","dimension29":"Constant Attendance Allowance"}' href="#">Constant Attendance Allowance</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.2" data-track-label="/how-to-have-your-benefits-paid" data-track-options='{"dimension28":"4","dimension29":"How and when your benefits are paid"}' href="#">How and when your benefits are paid</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.3" data-track-label="/benefit-fraud" data-track-options='{"dimension28":"4","dimension29":"Benefit fraud"}' href="#">Benefit fraud</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="2.4" data-track-label="/browse/benefits" data-track-options='{"dimension28":"4","dimension29":"More"}' href="#">
                More
                  <span class="visuallyhidden">
                    in
                    Benefits
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div> -->



       <div class="print-link">
          <a rel="alternate" href="#">Print entire guide</a>
        </div>
  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}


