{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

  </div>
    <div class="column-third">
    
  </div>
</div>



<!-- <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl>
      <dt>From:</dt>
      <dd>
          <a href="https://www.gov.uk/government/organisations/nhs-business-services-authority">NHS Business Services Authority</a>

      </dd>
      <dt>Published:</dt>
      <dd>1 April 2013</dd>
      <dt>Last updated:</dt>
      <dd>
        19 May 2016,
          <a href="#history" data-module="track-click" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
            see all updates
          </a>
      </dd>
          <dt>Applies to:</dt>
          <dd>
              England, Scotland, and Wales

          </dd>
  </dl>
</div>

  </div>
</div> -->


  <p>
    Use this form to apply for help with NHS costs by post if you can’t apply online.
  </p>

<div class="grid-row">
  <div class="column-two-thirds" aria-labelledby="documents-title">
    <h2 class="heading-medium">Forms</h2>
<div class="govuk-govspeak direction-ltr">
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf">England- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-scotland-health-costs-help-claim-form.pdf">Scotland- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src="/government/uploads/system/uploads/attachment_data/file/524356/thumbnail_ds700-carers-allowance-form.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf">Wales- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">26 pages</span>
    </p>
  </div>
</section>

</div>

  </div>
</div>

<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds" aria-labelledby="details-title">
    
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
  <h2 class="heading-medium">How to apply</h2>
<p>To apply for help with NHS costs by post:</p>

<ul>
  <li>print the form for the country you live in</li>
  <li>fill it in with a pen</li>
  <li>post it to:<br>
  <span>NHS Business Services Authority</span><BR>
  <span>Bridge House</span><BR>
  <span>152 Pilgrim Street</span><BR>
  <span>Newcastle Upon Tyne</span><BR>
  <span>NE1 6SN </span>
  </li>

</ul>

<p>Alternatively, you can <a href="">apply for help with NHS Costs</a> online.</p>
</div>
</div>

  </div>
</div>


  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}
 
