<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Apply for Help with NHS Costs application form - GOV.UK</title>

    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-c49b983af00205bcff91f0d722b6a1ef174e8fee7673f7297d83d4850a61e072.css" media="screen" rel="stylesheet">

    <link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-f1cff307a88ad244e2ea5c53b3650dc6b3a4b8cf34cbde84717d1d20e95ca931.css">

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="" href="#">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="#">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="#">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="#">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="#">
        Policies
      </a>
    </li>
    <li>
      <a class="active" href="#">
        Publications
      </a>
    </li>
    <li>
      <a class="" href="#">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="#">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="#">
        Announcements
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="publication" lang="en">
      
      
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"1","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>
  </ol>
</div>


      

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-long">
    <p class="context">Form</p>
  <h1>Apply for help with NHS costs application form</h1>
</div>

  </div>
    <div class="column-third">
    
  </div>

</div>



<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl>
      <dt>From:</dt>
      <dd>
          <a href="https://www.gov.uk/government/organisations/nhs-business-services-authority">NHS Business Services Authority</a>

      </dd>
      <dt>Published:</dt>
      <dd>1 April 2013</dd>
      <dt>Last updated:</dt>
      <dd>
        19 May 2016,
          <a href="#history" data-module="track-click" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
            see all updates
          </a>
      </dd>
          <dt>Applies to:</dt>
          <dd>
              England, Scotland, and Wales

          </dd>
  </dl>
</div>

  </div>
</div>


  <p class="description">
    Use this form to apply for help with NHS costs by post if you can’t apply online.
  </p>


<div class="grid-row sidebar-with-body">
  <div class="column-third">
    <h1 class="section-title" id="documents-title">
      <span class="translation_missing" title="translation missing: en.publications.documents, count: 8">Documents</span>
    </h1>
  </div>
  <div class="column-two-thirds" aria-labelledby="documents-title">
    
<div class="govuk-govspeak direction-ltr">
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf">England- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-scotland-health-costs-help-claim-form.pdf">Scotland- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src="/government/uploads/system/uploads/attachment_data/file/524356/thumbnail_ds700-carers-allowance-form.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf">Wales- Apply for help with NHS costs</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC1</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">26 pages</span>
    </p>
  </div>
</section>

</div>

  </div>
</div>

<div class="grid-row sidebar-with-body">
  <div class="column-third">
    <h1 class="section-title" id="details-title">
      <span class="translation_missing" title="translation missing: en.publications.details">Details</span>
    </h1>
  </div>
  <div class="column-two-thirds" aria-labelledby="details-title">
    
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<p>To apply for help with NHS costs by post:</p>

<ul>
  <li>print the form for the country you live in</li>
  <li>fill it in with a pen</li>
  <li>post it to:<br>
  <span>NHS Business Services Authority</span><BR>
  <span>Bridge House</span><BR>
  <span>152 Pilgrim Street</span><BR>
  <span>Newcastle Upon Tyne</span><BR>
  <span>NE1 6SN </span>
  </li>

</ul>

<p>Alternatively, you can <a href="">apply for help with NHS Costs</a> online.</p>
</div>
</div>

  </div>
</div>


<div class="govuk-document-footer direction-ltr">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="history-information" id="history">
      <p>
        Published:
        <span class="published definition">1 April 2013</span>
      </p>
      <p>
        Updated:
        <span class="updated definition">19 May 2016</span>
      </p>
      <div class="change-notes" data-module="toggle">
        <p>
          <a href="#full-history" data-controls="full-history" data-expanded="false" data-module="track-click" data-track-category="content-history" data-track-action="full-page-history-toggled" data-track-label="full-history">
            + full page history
          </a>
        </p>
        <div class="js-hidden" id="full-history">
<span class="arrow"></span>
          <ol>
              <li>
                <time datetime="2015-06-15T09:30:09.000+01:00" class="timestamp">15 June 2015</time>
                blah
              </li>
              <li>
                <time datetime="2013-04-01T00:00:00.000+01:00" class="timestamp">1 April 2013</time>
                First published.
              </li>
          </ol>
        </div>
      </div>
  </div>
  <div class="related-information">
      <p>From: <span class="from">
          <span class="definition">
             <a href="https://www.gov.uk/government/organisations/nhs-business-services-authority">NHS Business Services Authority</a>
          </span>
      </span></p>
  </div>
</div>



    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/government/publications/carers-allowance-claim-form">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Births, deaths, marriages and care</a></li>
          <li><a href="#">Business and self-employed</a></li>
          <li><a href="#">Childcare and parenting</a></li>
          <li><a href="#">Citizenship and living in the UK</a></li>
          <li><a href="#">Crime, justice and the law</a></li>
          <li><a href="#">Disabled people</a></li>
          <li><a href="#">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="#">Education and learning</a></li>
          <li><a href="#">Employing people</a></li>
          <li><a href="#">Environment and countryside</a></li>
          <li><a href="#">Housing and local services</a></li>
          <li><a href="#">Money and tax</a></li>
          <li><a href="#">Passports, travel and living abroad</a></li>
          <li><a href="#">Visas and immigration</a></li>
          <li><a href="#">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="#">How government works</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Worldwide</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="#">Help</a></li>
  <li><a href="#">Cookies</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Terms and conditions</a></li>
  <li><a href="#" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="#">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="#" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="#" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="#">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.11.3-c40d54aaf7339842749de8469b5b8915b886b5e67cd218d48a780cc2f2471853.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-67c9fdb12cd069ce13482bbbf163a8b50f79d4c6ca75df83e5351559b96fa034.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-f8a25c4f85ad5520f9ae61b244160bef62467f30ec1517dfe8bf7a0fc0a61e16.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-33a7e0b6382eb3a79f04760bfc1fc54b920f068fa08b60294cf6f833e2d86d15.js"></script>
</body>
</html>
