{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>.print-link{
  font-size: 16px;
  }
</style>

    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7be0fa8ecf0b2d9e5386ddc6dc52e15863f60f108e6ecd8b687582dd7ef87fd8.css">
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-136d1402a3ff580fbe4df2ba095ea2d0daa33ed65e60f37299a441d73baa3aab.css">

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for a refund of NHS costs
</h1>

  </div>
</div>


  <p>
    Use this form to claim a refund of NHS costs you've already paid.</p><br>
<p class="panel panel-border-wide">You must claim a refund within 3 months of paying.
  </p>

<div class="grid-row">

  <div class="column-two-thirds" aria-labelledby="documents-title">
    <h2 class="heading-medium">Refund forms</h2>
<div class="govuk-govspeak direction-ltr">
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf">England- Refund of NHS dental charges</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC5(D)</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src=""></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-scotland-health-costs-help-claim-form.pdf">England- Refund for sight test, glasses or contact lenses
</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC5(O)</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">16 pages</span>
    </p>
  </div>
</section>
  <section class="attachment embedded" id="attachment_1557044">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf"><img alt="" src="/government/uploads/system/uploads/attachment_data/file/524356/thumbnail_ds700-carers-allowance-form.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="/government/uploads/system/uploads/attachment_data/file/524356/ds700-carers-allowance-form.pdf">England- Refund for the cost of travel</a></h2>
    <p class="metadata">
        <span class="references">
          Ref: <span class="unique_reference">HC5(T)</span>
        </span>
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">130KB</span>, <span class="page-length">26 pages</span>
    </p>
  </div>
</section>

</div>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds" aria-labelledby="details-title">
    <h2 class="heading-medium">How to apply</h2>
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<p>To apply for help with NHS costs by post:</p>

<ul>
  <li>print the form for the country you live in</li>
  <li>fill it in with a pen</li>
  <li>post it to:<br>
  <span>NHS Business Services Authority</span><BR>
  <span>Bridge House</span><BR>
  <span>152 Pilgrim Street</span><BR>
  <span>Newcastle Upon Tyne</span><BR>
  <span>NE1 6SN </span>
  </li>

</ul>

<p>Alternatively, you may be able to get a refund form from Jobcentres, NHS hospitals, GP practices, dentists or opticians. 
</p>
</div>
</div>

  </div>
</div>

  </div>

  </aside>

</div>

</div>

    </main>

{% endblock %}
