{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income-new.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

     <div class="grid-row">
  <div class="column-two-thirds">

 <h1 class="heading-large">
       Getting help with the cost of glasses and contact lenses
      </h1>

       <h2 class="heading-medium">
       What is your prescription level?
      </h2>




<div id="slider"></div>
<br>
 <p>
  <label for="amount">Prescription level:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

  </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#slider" ).slider({
      value:100,
      min: 0,
      max: 40,
      step: 10,
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
  } );
  </script>
