{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income-new.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <link rel="stylesheet" href="/public/stylesheets/pagination.css">

 <div class="grid-row">
  <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Step 3</span>
       Get your certificate
      </h1>
    </div>
    </div>



 <div class="grid-row">
  <div class="column-two-thirds">
      <div class="summary">
  <p class="lede">You will need to show a copy of this information whenever you want to use it.</p>
</div>
     </div>
    </div>

    <div class="grid-row">
  <div class="column-two-thirds">
         <p class="email-text">Your certificate has been emailed to <span style="font-weight:700" id="emailAddress">vinay.mattu@inter.net</span></p>
    <article>
      <div class="govspeak">
        <section class="attachment embedded" id="attachment_hc3">
          <div class="attachment-thumb"> <img alt="" src="/public/images/hc3-img-01.png">
          </div>

          <div class="attachment-details">
            <p class="links"><span class="download"><a href="../../exemption/email-me?helplevel=3">
            <strong>Email (another) copy</strong></a></span></p>

            <p class="links"><span class="download">
            <a href="javascript:window.print();"> <strong>Print</strong></a></span></p>

            <p class="links"> <span class="download"><a href="/public/images/hc3.pdf">
            <strong>Download PDF</strong>
            9.97KB</a></span></p>

            <p class="links"> <span class="download"><a href="/public/images/hc3.pdf">
            <strong>Request a paper copy</strong></a></span></p>
          </div>

        </section>
      </div>
    </article>

    <nav class="pagination_gds" role="navigation" aria-label="Pagination">
        <ul class="group">
          <li class="previous">
            <a title="Navigate to previous part" rel="prev" href="view-entitlement">
              <span class="pagination-label">Previous</span>
              <span class="pagination-part-title">What you're entitled to</span>
            </a>
          </li>
          <li class="next">
        </ul>
    </nav>
  </div>

    </div>



  </main>


