 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
How often does your partner get their Pension Credit Savings Credits?      </h1>

      <form action="" method="get" class="form">

        <div class="form-item-wrapper">
          <div class="form-group">
            <input type="radio" id="week" name="minor">
            <label class="form-control-radio" for="week">
              Every week
            </label>
          </div>
          <!--div class="form-group">
            <input type="radio" id="fortnight" name="minor">
            <label class="form-control-radio" for="fortnight">
              Every 2 weeks
            </label>
          </div-->
          <div class="form-group">
            <input type="radio" id="fourweekly" name="minor">
              <label class="form-control-radio" for="fourweekly">
                Every 4 weeks
              </label>
          </div>
          <!--div class="form-group">
            <input type="radio" id="month" name="minor">
            <label class="form-control-radio" for="month">
              Every calender month
            </label>
          </div>
          <div class="form-group">
          <input type="radio" id="year" name="minor">
          <label class="form-control-radio" for="year">
            Once a year
          </label-->
        </div>

        {{
          form_macros.amount_field({
            id: 'money-amount',
            label: 'How much do they get?'
          })
        }}

        {{
          form_macros.button({
            label: 'Save and continue',
            href: 'pension-type'
          })
        }}

        <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>

      </form>
    </div>

  </div>

</main>

{% endblock %}
