 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


<form action="country-handler" method="get" class="form">
    <h2 class="heading-large">Where do you live?</h2>
     <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="uk" name="eligibility">
        <label class="form-control-radio" for="uk">
          United Kingdom (UK)
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="eu" name="eligibility">
        <label class="form-control-radio" for="eu">
          European Union (EU)
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="other" name="eligibility">
        <label class="form-control-radio" for="other">
          Other
        </label>
      </div>
      </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
      </div>
        </div>
</main>


{% endblock %}








