 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
 .list-discription {
  margin-bottom: 0.3em;
 }
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">



                <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">Does {{firstname}} get housing benefit?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">How much of your rent is paid by housing benefit?</h1>
                 {% endif %}
            </header>
  
      <form action="allsum-handler" method="get" class="form">

        <div class="form-group">
          
          <fieldset>
            <legend class="visually-hidden">
              Which meals are included in your rent?
            </legend>

            <div class="multiple-choice">
              <input id="all" type="radio" name="sum" value="all">
              <label for="all">All </label><span class="visually-hidden">of the rent</span>
            </div>

          <div class="multiple-choice">
            <input id="some" type="radio" name="sum" value="some">
            <label for="some" id="some" class=" block-label">
Some<span class="visually-hidden">of the rent</span>
            </label>
          </div>
            
          </fieldset>  
          
        </div>

        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>


      </form>


    </div>
    </div>
</main>

{% endblock %}
