 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">

                <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">How much does {{firstname}} pay a year for their council tax?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">How much council tax do you pay a year?</h1>
                 {% endif %}
            </header>

      <form action="" method="" class="form">
          <fieldset>
            <legend class="visually-hidden">
How much council tax do you pay a year?</legend>



<p>Don't include any council tax paid by Council Tax Reduction, sometimes called Council Tax Support.</p><p>Only tell us the amount you pay yourself. </p>
<p class="form-hint">The amount must include pence. For example, £171.31</p>
<span class="heading-medium">£</span> <input class="form-control form-control-1-4" style="margin-top: 10px" id="pay" type="text" name="ni-number">
<br><br><br>
<p>
          <a class="button" href="living-summary" id="next">Next</a>
        </p>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('input[name="optionsRadios"]').on('change', function(){
    if ($(this).val()=='Every week') {
         //change to "show update"
         $("#cont").text("How much do you pay every week?");
    } else if ($(this).val()=='Every 2 weeks') {
         $("#cont").text("How much do you pay every 2 weeks?");
    } else if ($(this).val()=='Every 4 weeks') {
         $("#cont").text("How much do you pay every 4 weeks?");
    }
     else if ($(this).val()=='Every month') {
         $("#cont").text("How much do you pay every month?");
    }
    else {
         $("#cont").text("How much do you pay every year?");
    }
});
</script>

{% endblock %}

