 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

 <div class="grid-row">
    <div class="column-two-thirds">

       <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Where you live</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">How often does {{firstname}} pay their rent? </h1>
                {% else %}
                <h1 class="page-header--lede heading-large">How often do you pay your rent?</h1>
                 {% endif %}
            </header>

      <form action="" method="get" class="form">
          <fieldset>
            <legend class="visually-hidden">
How often do you pay your mortgage?</legend>

            <div class="multiple-choice">
              <input class="choose" id="everyweek" type="radio" name="optionsRadios" value="Every week">
              <label for="everyweek">Every week</label>
            </div>
                        <div class="multiple-choice">
              <input class="choose" id="every2week" type="radio" name="optionsRadios" value="Every 2 weeks">
              <label for="every2week">Every 2 weeks</label>
            </div>

            <div class="multiple-choice">
              <input class="choose" id="every4week" type="radio" name="optionsRadios" value="Every 4 weeks">
              <label for="every4week">Every 4 weeks</label>
            </div>
                        <div class="multiple-choice">
              <input class="choose" id="everymonth" type="radio" name="optionsRadios" value="Every month">
              <label for="everymonth">Every calender month</label>
            </div>
                        <div class="multiple-choice">
              <input class="choose" id="everyyear" type="radio" name="optionsRadios" value="Every year">
              <label for="everyyear">Once a year</label>
            </div>
  
          </fieldset>  


<br>
          <label class="heading-medium" for="pay" id="cont">
  How much rent do you pay?
</label><br>
<p>Only tell us the amount you pay yourself. Do not include any rent that is covered by housing benefit. </p>

<input class="form-control" style="margin-top: 10px" id="pay" type="text" name="ni-number">
<br><br><br>
          <div class="form-group">
            <input class="button" type="submit" href="#"  value="Next">
          </div>
      
<!-- 

    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p> -->


      </form>

    </div>

  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('input[name="optionsRadios"]').on('change', function(){
    if ($(this).val()=='Every week') {
         //change to "show update"
         $("#cont").text("How much rent do you pay every week?");
    } else if ($(this).val()=='Every 2 weeks') {
         $("#cont").text("How much rent do you pay every 2 weeks?");
    } else if ($(this).val()=='Every 4 weeks') {
         $("#cont").text("How much rent do you pay every 4 weeks?");
    }
     else if ($(this).val()=='Every month') {
         $("#cont").text("How much rent do you pay every month?");
    }
    else {
         $("#cont").text("How much rent do you pay every year?");
    }
});
</script>

{% endblock %}