 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.31579;
}
.check-your-answers td {
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
    vertical-align: top;
}
.bold {
  font-weight: 700;
}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Apply with NHS costs</p>
            <h1 class="page-header--lede heading-large">Check your answers</h1>
          </header>

<!-- <p class="panel panel-border-wide">You’re applying for help with NHS costs on behalf of:</p> -->
<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            About where you live
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Type of property you live in
        </td>
        <td class="bold">
          Rented accommodation 
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Type of property you live in</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Do you get housing benefit?
        </td>
        <td class="bold">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">if you get housing benefits</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          How much of your rent is paid by housing benefit?
        </td>
        <td>
          Some
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">prefered contact method</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Rent frequency
        </td>
        <td class="bold">
          Monthly
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">email address</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Monthly rent amount
        </td>
        <td class="bold">
          £220.20
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Are meals or energy bills included in your rent?
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you need to use a text relay service</span>
          </a>
        </td>
      </tr>
            <tr>
        <td>
          Do you pay service charges?
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you need to use a text relay service</span>
          </a>
        </td>
      </tr>
                  <tr>
        <td>
          Do you pay ground rent?
        </td>
        <td class="bold">
          No
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you need to use a text relay service</span>
          </a>
        </td>
      </tr>
                  <tr>
        <td>
          Do you pay council tax?
        </td>
        <td class="bold">
          Yes
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you need to use a text relay service</span>
          </a>
        </td>
      </tr>
                  <tr>
        <td>
          Yearly council tax amount
        </td>
        <td class="bold">
          £1626.12
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">whether you need to use a text relay service</span>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
       

<br><br>
        <p>
          <a class="button" href="../design-sprints/sprint21/check-list_income" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}