
{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>

    {% if thirdparty %}
      <h1 class="heading-large">Does {{firstname}} pay any service charges for {{data['address-lineone']}}?</h1>
    {% else %}
      <h1 class="heading-large">Do you pay any service charges for {{data['address-lineone']}}?</h1>
    {% endif %}
    </div>

  <p>Select all service charges you pay</p>


      <form action="service-handler" method="get" class="form">

        <fieldset class="form-group">
          <legend class="visually-hidden">
            Do you pay any service charges for {address}
          </legend>
          <div class="multiple-choice multiple-radio ">
            <input class="example" id="shared" name="service" value="shared" type="checkbox">
            <label for="shared">Cleaning, maintenance or gardening services for communal areas</label>
          </div>

          <div class="multiple-choice multiple-radio example">
            <input class="example" id="laundry" name="scharge" value="laundry" type="checkbox">
            <label for="laundry">Laundry room</label>
          </div>

          <div class="multiple-choice multiple-radio example">
            <input class="example" id="warden" name="scharge" value="warden" type="checkbox">
            <label for="warden">Warden services</label>
          </div>

          <div class="multiple-choice multiple-radio example">
            <input class="example" id="play" name="scharge" value="play" type="checkbox">
            <label for="play">Children's play area</label>
          </div>

          <div class="multiple-choice multiple-radio example">
            <input class="example" id="tv" name="scharge" value="tv" type="checkbox">
            <label for="tv">Communal television area or lounge</label>
          </div>
          <p class="form-block">or</p>
          <div class="multiple-choice multiple-radio example">
                <input class="example" id="no" type="checkbox" name="scharge" value="no">
              <label for="no">No, I do not pay for any of these</label>
          </div>

        </fieldset>

          <div class="form-group">
        <input class="button" type="submit"  value="Next">
      </div>

      </form>
          
    </div>
      
  </div>

</main>

<script>
$('input.example').on('change', function() {
    $('input.example').not(this).prop('checked', false);  
});
</script>


{% endblock %}

