 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>

.multiple-choice {
    background-color: #DEE0E2;
    border: 1px solid white;
    padding-left: 0;
    margin-bottom: 20px;
    line-height: 1.31579;
}
.multiple-choice label {
    float: left;
    margin-left: 48px;
    padding:0.3em 0.3em 0.3em 0;
  }


    .multiple-choice [type="radio"] + label::before {
    background-color: white;
    position: inherit;
    float: left;
    margin-left: -38px;
    margin-top: -2px;
    width: 24px;
    height: 24px;
}

</style>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

                <header class="page-header">
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>About where you live</p>
                 {% if thirdparty %}
                <h1 class="page-header--lede heading-large">Which type of property does {{firstname}} live in?</h1>
                {% else %}
                <h1 class="page-header--lede heading-large">Which type of property do you and your partner live in?</h1>
                 {% endif %}
            </header>


  <form action="home-handler" method="get" class="form">

<div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
            Which type of property do you live in?
            </legend>
          <br>
<!-- <span class="strong">Lindsay note:</span> *borders/lodgers/ student/ in emergency shelter/dom violence etc* <br> -->
         <div class="multiple-choice">
            <input type="radio" id="rented" value="rented" name="home">
            <label class="form-control-radio bold" for="rented">Rented accomodation<br><span class="font-xsmall">This includes student accommodation or rent paid to a council or landlord</span></label>
          </div>

          <div class="multiple-choice">
            <input type="radio" id="own" value="own" name="home">
            <label class="form-control-radio bold" for="own">A property I own <br><span class="font-xsmall">This could be with or without a mortgage</span></label>
          </div>
          <div class="multiple-choice">
            <input type="radio" id="shared" value="shared" name="home">
            <label class="form-control-radio bold" for="shared">A shared ownership property <br><span class="font-xsmall"> This is where you pay mortgage and rent</span></label>
          </div>

          
           <div class="multiple-choice">
            <input type="radio" id="care" value="care" name="home">
            <label class="form-control-radio bold" for="care">A care home<br><span class="font-xsmall">Sometimes called nursing homes or residential care homes</span></label>
        </div>

          <div class="multiple-choice">
            <input type="radio" id="guest" value="guest" name="home">
            <label class="form-control-radio bold" for="guest">Someone else's home <br><span class="font-xsmall"> For example, living with parents, friends or relatives</span></label>
        </div>

          <div class="multiple-choice">
            <input type="radio" id="homeless" value="homeless" name="home">
            <label class="form-control-radio bold" for="homeless">
          I {{iwe}} do not have a permanent address
        </label>
          </div>

          </fieldset>
        </div>
      
        <!-- submit button -->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>


        </form>

    </div>
    </div>
</main>

{% endblock %}
