  
<style>

#global-header.with-proposition .header-wrapper .header-proposition {
/*    width: 100% !important;
    float: none !important;*/
}
#global-header .header-proposition #proposition-menu {
    margin-top: 0px !important;
}
#global-header .header-proposition a:hover {
      text-decoration: none !important;
      border-bottom: 2px solid black; 
    }
      #global-header .header-proposition #proposition-links li {
        float: left;
        width: 50%;
        padding: 3px 0;
        border-bottom: 1px solid #2e3133; }
        @media (min-width: 769px) {
          #global-header .header-proposition #proposition-links li {
            display: block;
            width: auto;
            font-size: 18px;
            padding: 0em 1em 0 0;
            border-bottom: 0;
          }
      #global-header .header-proposition #proposition-links a {
        color: black;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: 700;
        text-transform: none;
        font-size: 12px;
        line-height: 1.25; }
       }
        @media (min-width: 769px) {
          #global-header .header-proposition #proposition-links a {
            font-family: Arial, sans-serif;
            text-decoration: none;
            font-weight: 700;
            text-transform: none;
            font-size: 18px;
            line-height: 1.14286;
            line-height: 23px; } }

            .heading-secondary {
        font-size: 24px;
    line-height: 1.11111;
        color: #6f777b;
        margin-bottom:0em;
}

</style>


  <div class="header-wrapper">
  <div class="header-proposition" style="float:left; width:30%; padding-left:15px; margin-top:4em">
        <ul id="proposition-links">
            <li>
              Helen Spires
            </li>
            
            <li>
              <a href="/apply/error/signed-out">Sign out</a>
            </li>
          
        </ul>





  </div>
<div id="header-logo">
  <div class="header-wrapper">

    <a id="bsa-logo" href="/index.html">
      <img src="/public/images/bsa/bsa_logo.svg">
    </a>
  </div>
</div>


</div>






