{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">Apply for help to pay NHS costs</h1>

  <h2 class="heading-medium">Our purpose</h2>
        <p class="lede">To reduce health inequality caused by having limited means.</p>

  <table>
    <thead>
      <tr>
        <th width="25%">Iteration</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="apply/">DevBaseline</a></td>

        <td>For all agreed tickets</td>
      </tr>
      <tr>
        <td><a href="sprint20/">Design iterations</a></td>

        <td>All design iterations of the service</td>
      </tr>

    </tbody>
  </table>

  
  </div>

</div>

  
  <h2 class="heading-medium">Alpha Prototypes</h2>
<h3 class="heading-small"> <a href="http://nhslis.herokuapp.com/">Sprint 8</a></h3>
</main>

{% endblock %}


