 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

        <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Prototype</p>
            <h1 class="page-header--lede heading-large">Social Work Bursary</h1>
          </header>

        </div>
</div>
    
        <hr>
    
<div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium">Eligibility checker</h2>
        </div>
        <div class="column-two-thirds">
        <div class="form-group" style="margin-top:50px;">
            <a href="apply/start"><input class="button" type="submit"  value="Open"></a>
          </div>
        </div>
    </div>

         <hr>
    
<div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium">Application form</h2>
        </div>
        <div class="column-two-thirds">
        <div class="form-group" style="margin-top:50px;">
            <a href="apply/app"><input class="button" type="submit"  value="Open"></a>
          </div>
        </div>
    </div>
    
        <hr>
    
<div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium">User management</h2>
        </div>
        <div class="column-two-thirds">
        <div class="form-group" style="margin-top:50px;">
            <a href="apply/start"><input class="button" type="submit"  value="Open"></a>
          </div>
        </div>
    </div>
    
    </main>



{% endblock %}

