{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Apply for help to pay NHS costs</h1>

  <h2 class="heading-large">Latest version</h2>
  <p>
    <a href="apply/index">Current Sprint</a>
  </p>
  
  <h2 class="heading-large">Previous versions</h2>
<h3 class="heading-medium">Sprint 14</h3>
  <a href="http://nhslis.herokuapp.com/">Prototype</a>
  
  <h3 class="heading-medium">Old styling</h3>
  <a href="http://nhslis.herokuapp.com/">Prototypes</a>
</main>

{% endblock %}


