{% extends "govuk_template_unbranded_staff.html" %}

{% block head %}
  <link href="/public/stylesheets/bsa.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_content %}
  {% include "bsa_head_internal.html" %}
{% endblock %}
   
{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}



