 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">


<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge">Apply for help with NHS costs
</h1>

  <p class="lede">You can apply for help with NHS costs if you don’t <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">already qualify</a> for help and are finding it hard to pay.</p>

<p>We need to know about any money you and your partner get and also some housing costs, things like council tax and rent. </p>


<h2 class="heading-medium">Documents you may need</h2>
<h3 class="heading-small">Income</h3>

<ul class="list-bullet">
<li>paylips</li>
<li>latest business accounts, if self employed</li>
<li>student funding notices</li>
<li>latest statement of benefits or award notice</li>
<li>details of pensions</li>
<li>details of savings, investments and property</li>
</ul>

<h3 class="heading-small">Housing costs and council tax</h3>

<ul class="list-bullet">
<li>details of rent</li>
<li>details of mortgage payments</li>
<li>latest council tax bill</li>
<li>council tax benefit letter</li>
</ul>
<br>
<p>
          <a class="button button-get-started" href="" id="next">Start</a>
        </p>

<h3 class="heading-medium">Other ways to apply</h2>


<p>If you can’t apply online, you can <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">apply by post</a>.</p>


        
      
    </div>
    
  </div>
  
</main>



{% endblock %}

