{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.right{
      text-align: right;
}

</style>

<main id="content" role="main">
<div class="grid row>">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Page by page breakdown</span>
          Apply for help to pay NHS costs
        </h1>
        
                <h2 class="heading-medium">Before you start</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/start">Start</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-519</a></td>
      </tr>
<!--       <tr>
        <td><a href="/apply/gov-uk/1-how-it-works">How it works</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/2-what-you-get">What you get</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/3-eligibility">Eligibility</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/4-apply">Apply</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-</a></td>
      </tr> -->
    </tbody>
  </table>

  <h2 class="heading-medium">Task list</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/lis-check-list">Task list</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
          </tbody>
  </table>


  <h2 class="heading-medium">About you</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/you/whose-applying">Are you applying for yourself or someone else?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-493</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/registration-third-party">What is your name?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-520</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/dob">What is your date of birth?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-521</a></td>
      </tr>
       <tr>
        <td><a href="/apply/you/post-address">What is your address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-535">LISD-535</a></td>
      </tr>
       <tr>
        <td><a href="/apply/you/about-you-summary">Check your answers page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-494">LISD-494</a></td>
      </tr>
      <tr>
        <td><a href="/apply/results/full-exemption-under-16">Full help under 16's</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-612">LISD-612</a></td>
      </tr>
      <tr>
        <td><a href="#">Kickout</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-613">LISD-613</a></td>
      </tr>
    </tbody>
  </table>

   <h2 class="heading-medium">Contact preferences</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/you/contact-prefs">How should we contact you if we need to?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-544">LISD-544</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/email-address">What is your email address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/mobile-number">What is your mobile telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/telephone-number">What is your telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-</a></td>
      </tr>
    </tbody>
  </table>

<h2 class="heading-medium">About who lives with you</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
   <tr>
        <td><a href="/apply/you/partner">Do you live with a partner?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-522">LISD-522</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/children-under-20">Do you have any children living with you who you support financially?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-524">LISD-524</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_non-dependants">Does anyone else aged 18 or over live with you at {address}?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline//live_others-type">Who lives with you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_boarder">Are they a boarder or lodger?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_boarder-amount">How often does your boarder pay you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/live_boarder-includes">Are meals included in their rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-student">Are they a full time student </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job">Do they have a job?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job16hrs">On average do they work for 16 hours or more per week?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_nondep-job-amount">How often/ much do they get paid?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-523">LISD-523</a></td>
      </tr>

      
                </tbody>
  </table>

<h2 class="heading-medium">About where you live</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/live/you-live">Where do you live?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_mortgage_loan">Do you pay a mortgage for {address}?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_mortgage_mortgage-amount">How often do you pay your mortgage?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/live_services">Do you pay any service charges for {address}</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
            <tr>
        <td><a href="/apply/devbaseline/live_council-tax">Do you pay council tax?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
                  <tr>
        <td><a href="/apply/devbaseline/live_counciltax-amount">How often do you pay your council tax?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
                        <tr>
        <td><a href="/apply/devbaseline/live_ground-rent">Do you pay ground rent?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
                              <tr>
        <td><a href="/apply/devbaseline/live_loan-adapted">Do you have a loan to adapt {address} for the needs of a disabled person?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
          </tbody>
  </table>

<h2 class="heading-medium">Your income</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/work_job">Do you have a job?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/work_full-time-education"> Are you in full time education? </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/work_pension">Do you get a pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
          </tbody>
  </table>

  <h2 class="heading-small">Pensions</h2>
        <table>

    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/pension_newpen-credit">Do you get Pension Credit Savings Credit?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_newcredit-amount">How often do you get your Pension Credit Savings Credit payments?  </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_statepension">Do you get a state pension?  </a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_state-amount">How often do you get your State Pension paid?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/devbaseline/pension_other-pension">Do you get another pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>         
   <tr>
        <td><a href="/apply/devbaseline/pension_otherpen-amount">How often do you get the payments for your {number of pension} pension?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
          </tbody>
  </table>

  <h2 class="heading-small">Benefits</h2>
        <table>

    <tbody>
   <tr>
        <td><a href="/apply/devbaseline/work_benefits">Do you get any benefits?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>         
   <tr>
 </tbody>
  </table>

  <h2 class="heading-small">Other income</h2>
        <table>

    <tbody>
    <tr>
        <td><a href="/apply/devbaseline//work_benefit-carers-allowance">Do you look after someone but cannot get Carer’s Allowance because of another reason?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
         <tr>
        <td><a href="/apply/devbaseline/work_carers-allowance">Does someone get Carer’s Allowance for looking after you?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
         <tr>
        <td><a href="/apply/devbaseline/work_other-money">Do you get any other money?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 
                </tbody>
  </table>
<h2 class="heading-small">Check your answers</h2>
        <table>

    <tbody>
      <tr>
        <td><a href="/apply/devbaseline/work_check-answers">Check your answers</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> 

                </tbody>
  </table>

        

      
  </div>
</div>



</main>

{% endblock %}


