{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.right{
      text-align: right;
}

</style>

<main id="content" role="main">
<div class="grid row>">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Page by page breakdown</span>
          Apply for help to pay NHS costs
        </h1>
        
                <h2 class="heading-medium">Before you start</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/start">Start</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-519</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/1-how-it-works">How it works</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/2-what-you-get">What you get</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/3-eligibility">Eligibility</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/gov-uk/4-apply">Apply</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-</a></td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Task list</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/lis-check-list">Task list</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
          </tbody>
  </table>


  <h2 class="heading-medium">About you</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/you/whose-applying">Are you applying for yourself or someone else?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-493</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/registration-third-party">What is your name?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-520</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/dob">What is your date of birth?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-521</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/partner">Do you live with a partner?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/children-under-20">Do you have any children living with you, who you support financially?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-">LISD-</a></td>
      </tr>
       <tr>
        <td><a href="/apply/you/about-you-summary">Check your answers page</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-494">LISD-494</a></td>
      </tr>
      <tr>
        <td><a href="/apply/results/full-exemption-under-16">Full help under 16's</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-612">LISD-612</a></td>
      </tr>
      <tr>
        <td><a href="#">Kickout</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-613">LISD-613</a></td>
      </tr>
    </tbody>
  </table>

   <h2 class="heading-medium">Contact preferences</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/you/contact-prefs">How should we contact you if we need to?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/email-address">What is your email address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-519">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/mobile-number">What is your mobile telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-493">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/telephone-number">What is your telephone number?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-520">LISD-</a></td>
      </tr>
    </tbody>
  </table>

<h2 class="heading-medium">About where you live</h2>
        <table>
    <thead>
      <tr>
        <th >Page</th>
        <th class="right">JIRA ticket number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/apply/live/you-live">Where do you live?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
      <tr>
        <td><a href="/apply/you/post-address">What is your address?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr>
     <!--  <tr>
        <td><a href="/apply/live/you-live">Where do you live?</a></td>
        <td class="right"><a href="https://bsa2468.atlassian.net/browse/LISD-521">LISD-</a></td>
      </tr> -->
          </tbody>
  </table>


        

      
  </div>
</div>



</main>

{% endblock %}


