{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
        
        <h1 class="heading-large">
          Check your answers
        </h1>
      
        <p class="bold">Personal details</p>
      
        <table class="data-table you-summary">
          <tr>
            <td>Full name</td>
            <td>{{applicantFullName}}</td>
            <td><a href="registration">Change this</a></td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>{{dobday}} {{dobmonth}} {{dobyear}}</td>
            <td><a href="dob">Change this</a></td>
          </tr>
          <tr>
            <td>How would you like us to contact you?</td>
            <td>{{contact}}</td>
            <td><a href="contact-prefs">Change this</a></td>
          </tr>
          <tr>
            <td>{{contacttext}}</td>
            <td>{{contactvalue}}</td>
            <td><a href="email">Change this</a></td>
          </tr>
        </table>

        <p class="bold">Jobs and education</p>
        <table class="data-table you-summary">
          <tr>
            <td>Do you have a job?</td>
            <td>No</td>
            <td><a href="work">Change this</a></td>
          </tr>
          <tr>
            <td>Are you in full time education?</td>
            <td>No</td>
            <td><a href="education">Change this</a></td>
          </tr>
        </table>

        <p class="bold">Pensions</p>
        <ul class="hidden">
          <li>pensionanswer:</li>
          <li id="pension_answer">{{pensionanswer}}</li>
          <li>savingscredit:</li>
          <li id="credit_answer">{{savingscredit}}</li>
          <li>stateanswer:</li>
          <li id="state_answer">{{stateanswer}}</li>
          <li>privateanswer:</li>
          <li id="private_answer">{{privateanswer}}</li>
          <li>statepensionamount:</li>
          <li id="state_amount">{{stateamount}}</li>
          <li>statepensionamount:</li>
          <li id="state_frequency">{{statepensionfrequency}}</li>
          <li>privatepension amount:</li>
          <li id="private_amount">{{privateAmount}}</li>
          <li>private frequency:</li>
          <li id="private_frequency">{{privatefrequency}}</li>
        </ul>
        
        <table class="data-table you-summary" id="pension_table">
          <!-- filled by js -->
        </table>
<!--        <p class="bold">Pensions</p>
        <table class="data-table you-summary">
          <tr>
            <td>Do you get a pension?</td>
            <td id="pension_answer">{{pensionanswer}}</td>
            <td><a href="pension/newpension">Change this</a></td>
          </tr>
          <tr id="credit_row">
            <td>Do you get Pension Credit Savings Credit?</td>
            <td id="credit_answer">{{savingscredit}}</td>
            <td><a href="pension/pension-credit">Change this</a></td>
          </tr>
          <tr id="credit_payments_row">
            <td>Your Pension Credit Savings Credit payments?</td>
            <td>£121 per week</td>
            <td><a href="pension/private-pension-amount">Change this</a></td>
          </tr>
          <tr id="state_pension_answer">
            <td>Do you get a state pension?</td>
            <td id="state_pension_answer">{{stateensionanswer}}</td>
            <td><a href="pension/pension">Change this</a></td>
          </tr>
          <tr id="state_payments_row">
            <td>About your state pension</td>
            <td>£{{statepensionamount}} {{statepensionfrequency}}</td>
            <td><a href="pension/pension-amount">Change this</a></td>
          </tr>
          <tr id="private_pension_answer">
            <td>Do you get another pension?</td>
            <td id="state_pension_answer">{{pensionanswer}}</td>
            <td><a href="pension/pension">Change this</a></td>
          </tr>
          <tr id="private_payments_row">
            <td>About your private pension</td>
            <td>£321 per week</td>
            <td><a href="pension/private-pension-amount">Change this</a></td>
          </tr>
        </table>
-->

        <p class="bold">Benefits and other money</p>
        <table class="data-table you-summary">
          <tr>
            <td>Do you get any of these benefits?</td>
            <td>No</td>
            <td><a href="benefits/benefit-sprint3">Change this</a></td>
          </tr>
          <tr>
            <td>Do you look after someone but cannot get Carer’s Allowance because of another reason?</td>
            <td>No</td>
            <td><a href="benefits/benefit4">Change this</a></td>
          </tr>
          <tr>
            <td>Does someone get Carer’s Allowance for looking after you?</td>
            <td>No</td>
            <td><a href="benefits/care-allowance">Change this</a></td>
          </tr>
             <tr>
            <td>Do you get any other money?</td>
            <td>No</td>
            <td><a href="">Change this</a></td>
          </tr>
        </table>

        <form action="you-done" method="get" class="form">
          {{
            form_macros.button({
              label: 'Save and continue',
              id : 'next'
            })
          }}
        </form>
    
      </div>
      
    </div>
    
  </div>

</main>

{% endblock %}