 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Apply for help with NHS costs</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>

    {% if thirdparty %}
      <h3 class="heading-medium" style="margin-top:0; padding-top:0">{firstname} personal details</h3>
    {% else %}
    <h3 class="heading-medium" style="margin-top:0; padding-top:0">Your personal details</h3>
        {% endif %}
       
    <table id="review-table-one">
<!--      <tr>
        <td>{ if thirdparty } Applying for<BR><span class="bold">*Dev note:</span> dont show this if applying for 'me'<span class="bold">*</span></td>
        <td class="bold">Someone else</td>

        <td><a href="">Change</a></td>
      </tr> -->
      <tr>
        <td>Full name</td>
        <td class="bold">{{firstname}}Shiela Green</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Date of birth</td>
        <td class="bold">{{dobday}} {{dobmonth}} {{dobyear}} 02 April 1951</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="bold">1 Street, <br>Place, <br>County,<br> NE12 A34</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Contact by</td>
        <td id="has-mobile" class="bold">Telephone</td>
        <td><a href="">Change</a></td>
      </tr>
       <tr id="email-value">
        <td>Telephone number</td>
        <td class="bold">0191 200 9999</td>
        <td><a href="">Change</a></td>
      </tr>
     
    </table>

<br><br>
        <p>
          <a class="button" href="../design-sprints/sprint21/check-list_where-you-live" id="next">Next</a>
        </p>


  </div>
  </div>
  </div>



</main>

{% endblock %}