 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Your contact details</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">How should we contact {{firstname}} if we need to?</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">How should we contact you if we need to?</h1>
             {% endif %}
            </header>

<p>We'll only contact you about this application.</p>
<p class="form-hint">Select all that apply.</p>
      
      <form class="form" action="contact-handler" id="contact-boxes">
        <fieldset class="form-group">
          <legend class="visually-hidden">
            How should we contact you if we need to?
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">Email</label>
          </div>
   <!--        <div class="multiple-choice multiple-radio">
            <input id="phone" name="phone" type="checkbox" value="true">
            <label for="phone">Phone</label>
          </div> -->
          <div class="multiple-choice multiple-radio">
            <input id="text" name="text" type="checkbox" value="true">
            <label for="text">Phone</label>
          </div>
<!--                    <div class="multiple-choice multiple-radio">
            <input id="letter" name="contact" value="letter" type="checkbox">
            <label for="letter">letter</label>
          </div> -->

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>
          
    </div>
      
  </div>
  
</main>

{% endblock %}