{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
{% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
        How would you like us to contact you?
      </h1>

      <p>Select all the ways we can get in touch.</p>

      <form action="contact-handler2" method="get" class="form">

        <div class="form-group">
          <input type="checkbox" id="email" name="contact" value="email">
          <label class="form-control-checkbox minor-checkbox" for="email">
            Email
          </label>
        </div>
        <div class="form-group">
          <input type="checkbox" id="text" name="contact" value="text">
          <label class="form-control-checkbox minor-checkbox" for="text">
            Text
          </label>
        </div>
        <div class="form-group">
          <input type="checkbox" id="telephone" name="contact" value="telephone">
          <label class="form-control-checkbox minor-checkbox" for="telephone">
            Telephone
          </label>
        </div>
        <div class="form-group">
          <input type="checkbox" id="post" name="contact" value="post">
          <label class="form-control-checkbox minor-checkbox" for="post">
            Post
          </label>
        </div>
        <div class="form-group">
          {{
            form_macros.button({
              label: 'Save and continue'
            })
          }}
        </div>

        <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
