{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    What is your national insurance number?
    <span class="form-hint">
      It's on your national insurance card, benefit letter, payslip, P60.
      <br>For example 'QQ 12 34 56 C'.
    </span>
  </h1>
      <form action="" method="get" class="form">
        <div class="form-item-wrapper">
          <fieldset>
              <div class="form-group">
              <input type="text" id="email-address" class="form-control">
            </div>
          </fieldset>
        </div>

        {{
          form_macros.button({
            label: 'Next',
            href: 'contact-prefs'
          })
        }}

        <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
