 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<div class="heading-group">
        <p>Apply for help with NHS costs</p>
        <h1 class="heading-large">What is your address?</h1>
      </div>
      <p>Your GP and dentist must have your correct address. <br>We use this to confirm your identity when you claim help.</p>

 
      <form action="address-c-handler" method="get" class="form">

      <div class="form-group">
        <label class="form-label" for="lineone">
          Address line 1
        </label>
        <input class="form-control" id="registration-number" name="address-lineone" type="text" value="{{data['address-lineone']}}">
      </div>
        
      <div class="form-group">
              <label class="form-label" for="lineone">
          Address line 2
        </label>
        <input class="form-control" id="linetwo" name="linetwo" type="text">
      </div>

      <div class="form-group">
        <label class="form-label" for="town">
          Town or city
        </label>
        <input class="form-control" id="town" name="town" type="text">
      </div>
      
        
      <div class="form-group">
        <label class="form-label" for="postcode">
          Post code
        </label>
        <input class="form-control form-control-1-4" name="postcode" id="postcode" value="{{postcode}}" type="text">
      </div>

                 <details role="group">
              <summary><span class="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
I don't know what address to use

</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                            <fieldset>
                                <legend class="visuallyhidden">I don't know what address to use</legend>
                                        

        <h4 class="heading-small">If you have more than one address</h4>
        <p>
          For example, if you’re a student living away from home, you should use the address that your GP or dentist holds for you. This can be your home or term time addresses.
        </p>

        <h4 class="heading-small">If you don’t have a permanent address</h4>
        <p>
          If you’re homeless and living in temporary accommodation (for example, a long term hostel), you should use the address that your GP or dentist holds for you.
        </p>
<!--         <p>
          If you’re a long term patient in a psychiatric hospital, use the address of the hospital.
        </p>
        <p>
          If you’re a prisoner on long term remand, use the address of the prison.
        </p> -->
        
       </fieldset>
</details>

     

<br>

      <div class="form-group">
        <input class="button" type="submit"  value="Next">
      </div>
        
<!--       <p class="navigation"><a class="cancel" href="start">Cancel</a></p> -->

      </form>
      
    </div>
    
  </div>
  
</main>

{% endblock %}
