 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- <style>
.block-label {
    display: block;
    float: none;
    clear: left;
    position: relative;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px 30px 15px 54px;
    margin-bottom: 10px;
    cursor: pointer;}

#block_container {
}
#bloc1, #bloc2 {
    display:inline;
}
#bloc2{
  float:right;
}
    </style> -->

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
          <header class="page-header">
            <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Contact details</p>
             {% if thirdparty %}
            <h1 class="page-header--lede heading-large">What is {{firstname}}'s telephone number??</h1>
            {% else %}
            <h1 class="page-header--lede heading-large">What is your telephone number?</h1>
             {% endif %}
            </header>


  <form action="mobile-c-handler" method="get" class="form">


    <p>You can give a mobile or landline number.</p>

      

    <div class="form-item-wrapper">

<div class="form-group" style="margin-bottom: 1em">
     <label for="phone" class="visuallyhidden" aria-describedby="hint-phone">What is your telephone number?</label></div>
  <input class="form-control" id="telephone-number" name="telephone-number" type="text">
<!-- 
<br><br> -->

  <div id="block_container">

    
<!--     <div id="bloc1"><img src="/public/images/bsa/deaf.svg" height="48px"></div>
<div id="bloc2" class="multiple-choice multiple-radio image" style="margin-bottom:2em;">

            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">I need you to contact me using the Text Relay service</label>
          </div>

</div> -->
         <div class="multiple-choice multiple-radio image" style="margin-bottom:2em;">

            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">I need you to contact me using the Text Relay service</label>
          </div>
          </div>



<!--                  <details role="group">
              <summary><span class="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
I need to tell you more about how to use my phone number

</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                            <fieldset>
                                <legend class="visuallyhidden">Select the option that applies to you</legend>
                                
                     


            <div class="multiple-choice">
              <input id="applicant-contact" type="radio" name="thirdpartycontact" value="applicant-contact">
              <label for="applicant-contact">Text only (no voice calls)</label>
            </div>
            <div class="multiple-choice">
              <input id="thirdparty-contact" type="radio" name="thirdpartycontact" value="thirdparty-contact">
              <label for="thirdparty-contact">Voice only (no text)</label>
            </div>

       </fieldset>
</details> -->
    
    <div class="form-item-wrapper">
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </div>
    
<!--     <p class="navigation"><a class="cancel" href="start">Cancel</a></p> -->
    
  </form>
    </div>
    </div>
</main>

{% endblock %}
