 {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<style>
  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

.check-your-answers{
    font-size: 19px;
    line-height: 1.31579;
  }
  table td {
    border-bottom: 1px solid #bfc1c3;
  }
 table tr td{
padding: 0.63158em 1.05263em 0.47368em 0;
}




}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>

      <div class="form-group">

        <table class="check-your-answers">

          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Your details
                </h2>
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td style="border-bottom: 1px solid #bfc1c3;">
                Applying for
              </td>
              <td style="border-bottom: 1px solid #bfc1c3;">
                You
              </td>
              <td class="change-answer" style="border-bottom: 1px solid #bfc1c3;">
                <a href="">
                  Change <span class="visuallyhidden">Applying for</span>
                </a>
              </td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #bfc1c3;">
                Name
              </td>
              <td style="border-bottom: 1px solid #bfc1c3;">
                Bob Smith
              </td>
              <td class="change-answer" style="border-bottom: 1px solid #bfc1c3;">
                <a href="">
                  Change <span class="visuallyhidden">vehicle type</span>
                </a>
              </td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #bfc1c3;">
                Address
              </td>
              <td style="border-bottom: 1px solid #bfc1c3;">
                {{data['address-lineone']}}
              </td>
              <td class="change-answer" style="border-bottom: 1px solid #bfc1c3;">
                <a href="">
                  Change <span class="visuallyhidden">vehicle features</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

<!--       <div class="form-group">
        <p>
          <a href="/docs/tutorials-and-examples">
            Return to prototype kit examples
          </a>
        </p>
      </div> -->

    </div>

  </div>

</main>

{% endblock %}
