  {% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}



<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
<div class="column-two-thirds">

            <header class="page-header">
                <h1 class="page-header--lede heading-xlarge">You currently have an existing exemption</h1>
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is </span>Before applying</p>
            </header>


                <p class="lede">You currently are entitled to free:</p>


          <table class="data-table assets-summary">
            <tr>
              <td>Prescriptons</td>
              <td>Until <span class="bold">03 July 2017</span></td>
            </tr>
                        <tr>
              <td>Dental check-ups and treatment</td>
              <td>Until <span class="bold">03 July 2017</span></td>
            </tr>
                        
          </table>

<br><br>
          <div class="form-group">
            <input class="button" type="submit" href="#"  value="Continue application">
          </div>
              <p class="navigation"><a class="cancel" href="">Cancel application</a></p>




          
    </div>
      
  </div>
  
</main>

{% endblock %}