 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income-new.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large">Entitlement to help with health costs<br>(HC2 certificate)</h1>
      <h2 class="heading-medium">What you’re entitled to</h2>

      <div class="entitlement">
        <h4 class="heading-small">Free prescriptions</h4>
        <p class="description">To claim, show a copy of this to the staff in the pharmacy.</p>
      </div>

      <div class="entitlement">
        <h4 class="heading-small">Free sight tests</h4>
        <p class="description">To claim, show a copy of this to the staff in the opticians.</p>
      </div>

      <div class="entitlement">
        <h4 class="heading-small">Full or partial help towards glasses or contact lenses</h4>
        <p class="description">You are entitled to the full value of an optical voucher</p>
        <a href="">How to use this certificate for glasses or contact lenses</a>
      </div>

      <div class="entitlement">
        <h4 class="heading-small">Free NHS dental treatment</h4>
        <p class="description">To claim, show a copy of this to the staff in the dentist.</p>
      </div>

      <div class="entitlement">
        <h4 class="heading-small">
          Help with the cost of travel to receive NHS treatment<br>
          If you're referred by a doctor, dentist or optician
        </h4>
        <a href="">How to use this certificate for travel</a>
      </div>

      <div class="entitlement">
        <h4 class="heading-small">Free NHS Wigs, or NHS fabric supports</h4>
        <p class="description">
          To claim, show a copy of this to the person who fits the NHS wig or fabric support for you.
        </p>
      </div>

      <div class="details">
        <h2 class="heading-medium">Certificate details</h2>
        <p class="description">Certificate number</p>
        <h2 class="heading-medium bignumbers">123 456 789</h2>
        <p class="valid">Valid dates</p>
        <h2 class="heading-medium bignumbers"><span>from:</span> 14 July 2015</h2>
        <h2 class="heading-medium bignumbers"><span>to:</span> 14 August 2016</h2>
      </div>

      <!--div class="panel panel-border-wide">
        <p>
          This certificate does not affect any entitlement to help you already have, for example if you already get help because of your age or a medical condition.
        </p>
      </div-->

    </div>

    <div class="column-third">

      <div class="right-col-details">

        <div>
          <p class="description">Entitlement for</p>
          <h2 class="heading-medium bignumbers">Priya Mattu</h2>
          <h2 class="heading-medium bignumbers">Vinay Mattu</h2>
        </div>

        <div>
          <h3 class="heading-medium">Save a copy</h3>
          <p>You will need to show a copy of this information whenever you want to use it.</p>
          <ul>
            <li><a href="javascript:window.print();">Print this</a></li>
            <li><a href="/public/images/hc2.pdf" target="_blank">Download this (PDF 98k)</a></li>
            <li><a href="send-mail?helplevel=2">Get this sent by email</a></li>
            <li><a href="post?helplevel=2">I need help getting a copy</a></li>
          </ul>
        </div>

        <div>
          <h3 class="heading-small">Change your details</h3>
          <ul>
            <li><a href="#">Change your details or tell us your circumstances have changed.</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</main>
