{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
  <h1 class="heading-large">
    Would you like your certificate sent to vinay.mattu@inter.net ?
  </h1>

  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <form action="" method="get" class="form">
<div class="form-item-wrapper">
      <fieldset>
        <div class="inline-form-groups">
          <div class="form-group">
            <input type="radio" id="mobile" name="contact">
            <label class="form-control-radio js-toggle" for="mobile" data-hide="#contact-email-address">
              Yes, send it to this email address
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="email" name="contact">
            <label class="form-control-radio js-toggle" for="email" data-show="#contact-email-address" data-hide="#contact-mobile-number">
              No, send it to a different email address
            </label>
          </div>
        </div>

        <div class="js-hidden panel-indent" id="contact-email-address">
        {{
          form_macros.text_field({
            id: 'firstname',
            label: 'Email address'
          })
        }}
        </div>
      </fieldset>
    </div>

    {{
      form_macros.button({
        label: 'Send',
        href: 'mail-confirm'
      })
    }}

    <p class="navigation"><a class="cancel" href="hc{{helplevel}}-entitlement">Cancel - back to my entitlement</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
